<table width="578" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td valign="top"><div id="title">
              <div style="font-family:Arial, Helvetica, sans-serif"><img src="[%SITE_LOGO%]" width="364" height="44" alt="Chargeyourglasses.com Logo" /></div>
            </div></td>
          <td valign="bottom"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td><p><font color="#000000" face="verdana" size="2">Thank you for your enquiry. We will get back to you shortly.<br />
              <br />
              The following enquiry was submitted by you to the website:<br />
              <a href="http://www.chargeyourglasses.com/" style="color:#c00;" target="_blank">www.chargeyourglasses.com/</a> </font></p></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td><table width="100%" border="0" align="center" cellpadding="8" cellspacing="0" bgcolor="#FAFAFA" style="border: 1px solid #C1C1C1; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
              <tr>
                <td bgcolor="#d5f8fc" style="color:#333;"><strong>User Details</strong></td>
              </tr>
              <tr>
                <td valign="top"><table cellpadding="0" cellspacing="10"  width="100%" border="0" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">
                    <tr>
                      <td width="130" valign="top">Name :</td>
                      <td>[%NAME%]</td>
                    </tr>
                    <tr>
                      <td width="130" valign="top">Email: </td>
                      <td>[%EMAIL%]</td>
                    </tr>
                    <tr>
                      <td width="130" valign="top">Phone Number: </td>
                      <td>[%PHONE%]</td>
                    </tr>
                    <tr>
                      <td width="130" valign="top">Speech For: </td>
                      <td>[%SPEECHFOR%]</td>
                    </tr>
                    <tr>
                      <td width="130" valign="top">Wedding Date: </td>
                      <td>[%WEDDATE%]</td>
                    </tr>
                    <tr>
                      <td width="130" valign="top">Message: </td>
                      <td>[%MESSAGE%]</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><font color="#000000" face="verdana" style="font-size: 13px;">The above was submitted on the [%DATE%]</font></td>
              </tr>
              <tr>
                <td><div align="left" style="padding-top:10px;">
                    <p style="padding-right:15px;"><font color="#000000" face="verdana" size="2">Kind regards,</font></p>
                    <p style="padding-right:25px;"> <a href="http://www.chargeyourglasses.com/" style="color:#c00;" target="_blank">www.chargeyourglasses.com/</a> <br />
                    </p>
                    <p style="padding-right:25px;"><font color="#000000" face="verdana" size="1">*Please do not reply to this e-mail. </font></p>
                  </div></td>
              </tr>
              <tr>
                <td bgcolor="#fbdf65" height="2"></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
