/*global settings*/
* {margin:0; padding:0; border:0; outline:none; text-decoration:none;  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ width:100%; display:block;}

article:after, aside:after, figure:after, footer:after, header:after, hgroup:after, menu:after, nav:after, section:after{clear:both; content:""; display:block;}

html {height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

body {color:#333; font-size:14px; line-height:1.5em; font-family:Arial, Helvetica, sans-serif;}

.clear{ clear:both;}

/*global floats*/
.alignleft,.cont-left{ float:left;}
.alignleftimg{ float:left; margin:0 10px 0 0;}
.alignright,.cont-right{ float:right;}
.aligncenter{ text-align:center; margin:auto;}

#paymentpopup .aligncenter{ text-align:left;}

.textalignright{ text-align:right;}
.alignauto{ overflow:hidden;}
.ZipCodeStyle{ display:none !important;}
/*global headings and paragraphs*/
h1{font-size: 34px; line-height:normal; font-family: 'ralewaysemibold'; font-weight: normal;}
h2{ font-size:25px; line-height:normal; font-family: 'ralewaybold'; font-weight: normal;}
h3{ font-size:22px; line-height:normal; font-family: 'ralewaysemibold'; font-weight: normal;}
.forgot-heading{font-size:22px; line-height:normal; font-family: 'ralewaysemibold'; font-weight: normal;}
.sub-heading{ font-size:20px; line-height:normal;font-family: 'ralewaysemibold'; font-weight: normal;}
.big-heading{   line-height:normal;font-family: 'ralewayregular';font-weight: bold; font-size:36px;}
.footer-heading{  font-family: 'ralewaysemibold';   font-size:20px;}
.small-heading{ font-size:15px; }

.font-14{ font-size:14px;}
.font-18{ font-size:18px;}
.main-heading span{ font-size:36px;}

.main-heading	{ 
	font-family: 'ralewaysemibold';
	color: #ffffff;
	text-transform: uppercase;
}
.automargin{ display:table; margin:10px auto; clear:both;}

p{ font-size:15px; font-family:Arial, Helvetica, sans-serif;}

/*global image*/
img{ max-width:100%; height:auto; vertical-align:middle;}

/*global anchors*/
a{ color:#333;}
a:hover{ text-decoration:none;}
a:active{ text-decoration:none;}
.black{ color:#000;}
.black:hover{ text-decoration:underline;}
/*global list style*/
ul{ list-style:none; padding:0; margin:0;}
ul.disc{ list-style:disc !important; padding:10px 0 0 20px;}

/*global fonts*/
@font-face {
    font-family: 'ralewayregular';
    src: url('../font/raleway-regular.eot');
    src: url('../font/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-regular.woff') format('woff'),
         url('../font/raleway-regular.ttf') format('truetype'),
         url('../font/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../font/raleway-bold.eot');
    src: url('../font/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-bold.woff') format('woff'),
         url('../font/raleway-bold.ttf') format('truetype'),
         url('../font/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../font/raleway-semibold.eot');
    src: url('../font/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-semibold.woff') format('woff'),
         url('../font/raleway-semibold.ttf') format('truetype'),
         url('../font/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*global margins*/
.omega5{ margin:0 0 10px;}
.omega10{ margin:10px 0 0;}
.omega15{ margin:12px 0 0;}
.omega20{ margin:20px 0 0;}
.omega30{ margin:30px 0 0;}
.omega40{ margin:40px 0 0;}
.omega60{ margin:20px 0 0;}
.omega-ver10{ margin:10px 0;}
.omega-ver20{ margin:20px 0;}
.omega-hor-10{ margin:0 10px;}
/*global paddings*/
.alpha10{ padding:10px 0 0;}
.alpha20{ padding:20px 0 0;}
.alpha30{ padding:30px 0 0;}
.alpha40{ padding:40px 0 0;}

.omega60#notyet{ margin:15px 0}

.alpha-ver15 { 
	padding:20px 0; 
	background-color: #ffffff;
}

#header.alpha-ver15 {
	padding: 10px 0;
}

.omega-ver20.now{ margin-left:6.8%;}

.alpha-all10{ padding:20px;}
.alpha-all5{ padding:10px;}
.add-bg{  border:#ddd 1px solid; padding:10px;}
/*global buttons*/
.big-btn{ background:#00a4b9; padding:20px 25px; display:inline-block; font-size:20px;  border-radius:4px; color:#fff; text-transform:uppercase;}
.medium-btn{ background:#ffb72d; padding:15px; font-size:20px; display:inline-block;  border-radius:4px; color:#fff;}
.small-btn{background:#ffb72d; padding:10px; font-size:14px; display:inline-block; border-radius:4px; color:#fff;}
.blue-btn{ background:#ffb72d; border:#9ceafe 1px solid; border-radius:4px;  color:#00a4b9; display:inline-block; padding:8px 15px;}
.yellow-btn{ background:#ffb72d; border-radius:4px; padding:5px 10px; color: #ffffff;}
.yellow-big-btn{background:#ffb72d; border-radius:4px; padding:15px 0; margin:auto; font-size:24px; font-weight:normal; font-family:'ralewaysemibold'; text-align:center;}
.yellow-big-btn a{}
.col_400{ width:400px; margin:auto;}
.pop-link{ padding:10px 0;
text-align: center;
float: left;
width: 90px;
}
.pop-link span{ display:block;}
#inline{ width:275px; height:95px;}
.pop-link a{ display:block; font-size:12px;}


/*global inputs*/
input[type="text"],input[type="password"]{ width:98%; padding:5px 1%; display:block; border:#ddd 1px solid;}
textarea{ width:98%; padding:1%; border:#ddd 1px solid;}
input[type="submit"]{background:#ffb72d; padding:10px 15px; *padding:10px 7px; color:#fff; cursor:pointer; font-size:16px; border-radius:4px; float: right;}
input[type="checkbox"]{ padding:1px; vertical-align:middle;}
select{ width:100%; padding:5px 1%;border:#ddd 1px solid;}
label{ font-size:13px; float:left;}
.blue{ color:#ffb72d;}

input[type="submit"]:hover {
	background:#000000;
}

/*main css*/

#header {
	background-color: #000000;
}
#page{ width:100%;  background:#fff;}
#page:after{ clear:both; content:""; display:block;}

#logo{ float:left;}

.menu-link {display:none; float:left; text-decoration:none;}

.col_1280 { 
	max-width:1200px; 
	margin:0 auto;
}

#topbannerhome {
	background-image: url(../images/orange.jpg);
}

#panicouter { 
	background-image: url(../images/panic-bkgd.jpg);
	background-repeat: repeat-x;
	min-height: 350px;
}

#panic { 
	max-width:1200px; 
	width: 100%;
	background-image: url(../images/panic.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 350px;
	margin: 0 auto;
}

#badgeouter {
	padding-top: 155px;
	margin-left: 600px;
}


#badge {
	background-image: url(../images/badge.png);
	background-position: center;
	background-repeat: no-repeat;
	min-height: 185px;
}

#badge h2 {
	font-size:1.25em;line-height:1em; 
	text-transform:uppercase;
}

#badge h2#demo1 {
	padding-top: 8px;
}

#badge h2#demo2 {
	margin-top: -30px;
}

#badge h2#demo3,
#badge h2#demo4 {
	color: #ffffff;
	padding-top: 5px;
	font-size: 34px;
}

#badge h2#demo4 {
	padding-top: 5px;
}

#hotbuttons {
	width: 95%;
	padding-left: 5%;
}

.home-text {
	clear: both;
	text-align: center;
	padding: 40px 0;
}

.col_12{ width:12%;}
.col_17{ width:17%;}
.col_86{ width:86%;}
.col_40{ width:40% !important;}
.col_58{ width:58%;}
.col_62{ width:62%;}
.col_78{ width:78%;}
.col_30{ width:30%;}
.col_49{ width:49%;}
.col_48{ width:49%;}
.col_20{ width:20%;}
.col_16{ width:18%;}
.col_24{ width:24%;}
.col_74{ width:74%;}
.col_25{ width:25%;}
.col_70{ width:70%;}
.col_80{ width:80% !important;}

.col_100 { width:100%;}

.col_80.ban-img { width:100% !important;}

#banner { 
	background-image: url(../images/orange.jpg);
	background-repeat: repeat-x repeat-y;
	}
	
	h2.click {
		margin:0 0 10px 10%;
		text-transform: uppercase;
	}
	
	h2.click#successful {
		margin-left:2%;
		margin-bottom: 3.5%;
	}

.banner-widget-outer { 
	text-align:center; 
	float:left;
	width: 70%;
	background-color: #000000;
	border: 1px solid #000000;
	margin: 1% 2%;
	border-radius: 5px;
}

.banner-widget-outer:hover {
	background-color: #a247b5;
	border: 1px solid #a247b5;
}

.banner-widget-outer a h2,
h2.partyh2 {
	color: #a247b5;
	font-size: 40px;
	padding: 6px 0 9px 0;
}

h2.partyh2 {
	font-size: 24px;
}

.banner-widget-outer:hover a h2 {
		color: #000000;
}

.banner-widget{ background:#fbdf65;  border-radius:360px 360px 0 0; padding:0 0 10px; font-weight:bold;}
.banner-widget:hover{ background:#00a4b9; cursor:pointer; color:#fff;}

.banner-widget p{line-height: 17px;
padding: 7px 0;}
.banner-widget-outer span{ top:-10px; position:relative;font-weight:bold;}
.sprite-img{ text-align:right; padding:0 0 0 10px; float:right; *width:26px; *float:none;}
.banner-widget img{border-radius:360px; width:100%;}
.ban-bg{ background:#dfb834; padding:5px; border-radius:360px; *width:190px;}
.ban-img img{ width:190px; height:190px; border-radius:360px;}
.ban-ico{ width:42px; height:42px; background:#fff; border-radius:360px; overflow:hidden; text-align:center; margin:-20px auto 0; position:relative;}
.ban-ico img{ margin:10px 0 0;}

#caption-outer{ background:#d5f8fc; margin:1px 0 0}
#caption-outer strong{font-family: 'ralewaybold'; font-size:32px;  font-weight: normal;}

#testimonails-outer{}
.test-para{ padding:10px 40px; position:relative;}
.test-img{ border-radius:360px; }
.test-ico-left{ padding:5px; position:absolute; left:0; top:0}
.test-ico-right{padding:5px; position:absolute; right: 10px;
bottom: 0px;}

.foot-widget-1,
.foot-widget-3 { 
	width:27%;
	background-color: #a247b5;
	min-height: 520px;
}

.foot-widget-2,
.foot-widget-4 { 
	width:23%;
	min-height:520px;
}

.foot-widget-1 h3,
.foot-widget-3 h3 {
	color: #ffffff;
	padding: 30px 40px;
	text-transform: uppercase;
}

.foot-widget-2 h3,
.foot-widget-4 h3 {
	color: #000000;
	padding: 30px 40px;
	text-transform: uppercase;
}

.footerimage {
	width: 100%;
	height: 180px;
}

.foot-widget-1 p.sub-heading {
	font-weight: bold;
}

.foot-widget-2 ul li {
	list-style-type: disc;
	margin: 0 40px 40px 40px;
	font-size: 20px;
	font-family: 'ralewaysemibold';
}

.foot-widget-2 ul li a:hover {
	color: #a247b5;
	text-decoration: underline;
}

.foot-widget-3 .footer-para {
	margin: 0 40px 40px 40px;
}

p.download-btn {
	text-align: center;
	margin: 20px auto;
}

.download-btn a {
	color: #ffffff;
	background-color: #ffb72d;
	padding: 6px 8px;
	border-radius: 3px;
	text-transform: uppercase;
}

.download-btn a:hover {
	text-decoration: none;
	background-color: #000000;
}


.subscribe-form{ border:#ddd 1px solid; background:#fff; border-radius:4px; overflow:hidden;}
.sub-input{ width:50%; float:left; padding:2% 2% 1%;}
.sub-input input[type="text"]{ border:#fff 1px solid;}
.sub-button input[type="submit"]{ width:100% !important;}
.sub-button{ float:right; width:40%; background:url(../images/subscribe-arrow.png) no-repeat left center; padding:0 0 0 8px;}
#bottom-outer{ background:#444444;}
.footer-links{ color:#999; width:30%; text-align:right; }
.footer-links a{ color:#999; }
.footer-links a:hover{text-decoration:underline;}
.bullet-links li{ background:url(../images/bullets-ico.png) no-repeat left center; padding:0 0 0 15px; font-size:15px;}
.social-ico{ float:right;}
.social-ico li{ float:left; margin:0 0 0 10px;}
.bride-outer{ background:#f9f9f9; padding:20px; margin:100px 0 20px;}

.bride-circle-outer{ margin-top:-100px;}
.post-img{ position:absolute; right:0; top:0; text-align:right; width:14%;}
.post-img img{ width:80%;}
.brideside-left{ float:left;}
.brideside-right{ float:right;}
.dashed-border{ border-top:#ddd 1px dashed; margin:10px 0 0; padding:10px 0 0;}
.work-outer{ background:#f9f9f9; overflow:hidden;border-radius:360px 0 0 360px;}
.work-circle{ width:7em; height:7em; background:#ffb72d; border-radius:360px; float:left; text-align:center; font-weight:bold;}
.work-circle p{font-family: 'ralewaysemibold'; font-size:20px; margin:25px 0 0; font-weight:normal;}
.work-para{ float:right; margin:10px; width:85%;}
#breadcrumbs{ background:#ffb72d}
#breadcrumbs li{ float:left; padding:0 10px 0 0}
#breadcrumbs li a{ color:#ffffff;}
.foot-logo{ float:left;}
.step-outer{ border:#eee 1px solid; padding:0 0 20px; }

.step1bg{ background:#000000; min-height:57px; position:relative; padding:10px 0 0; color: #ffffff;}
.step1bg p,.step2bg-default p{ font-size:18px;font-family: 'ralewaysemibold';}

.text-list2{ width:78%;}
.step2bg-default{ background:#f6f4f4;  min-height:57px; position:relative; padding:10px 0 0;}

.step2bg-default p{ opacity:.4;font-family: 'ralewaysemibold'; padding:0 5px;}

.active{ background:#ffb72d; min-height:57px; position:relative; padding:10px 0 0;}
.active p{ opacity:1;}

.step3bg-default{ background:#f9f9f9;  min-height:47px; position:relative; padding:20px 0 0 0;}

.step3bg-default img{ opacity:.4}

.active2{ min-height:57px; position:relative; padding:10px 0 0;}

.active2 img{ opacity:1}
.step1,.step2{ width:33%; text-align:center;}
.step1 ul,.step2 ul{ padding:30px 0 0; border-right:#eee 1px solid; }
.step1 li ,.step2 li { padding:0 20px;}
.step1 li a,.step2 li a{ border-bottom:#ddd 1px dashed; text-align:center; display:block; padding:5px 0}
.step2 li.active{ min-height:inherit !important; *min-height:30px;}
.step1 li.active{ min-height:inherit!important;*min-height:30px; background:#000000}
.step3{ width:34%; text-align:center}
.step-para{ padding:0 40px; position:relative;}
.step1 li.active a { color: #ffffff;}


.step-outer .numberic{ width:20px; height:20px; float:left; position:static; border-radius:360px; border:#333333 2px solid; background:none;}
.stepaligncenter{ display:table; margin: 10px 0 0 20px}
#main-content,#msg-content{ width:77%;}
#sidebar{ background:#f8f8f8; width:20%; padding:15px 1%; margin: 0;}

.about #main-content { width:50%;}
.about #sidebar {width: 40%}

.enquiry-form .input-form{ float:right; width:60%;}
.enquiry-form .input-form select{ margin:0 0 10px;}
.pic-style{ border:#f8f8f8 1px solid; background:#fbdf65; padding:5px; text-align:center; font-weight:bold;}
.pic-style img{ margin:0 0 10px;}
.testimonial-outer{ width:49.5%; background:url(../images/testimonial-bg-ico.png) no-repeat right center;}
.testimonial-outer2 {width:49.5%; background:url(../images/testimonial-bg-ico2.png) no-repeat left center; margin:20px 0 0;}
.testmonial-inner{ background:#f9f9f9; margin:0 20px 0 0; padding:15px; border:#ddd 1px dashed; min-height:115px;}
.testmonial-inner2{background:#f9f9f9; margin:0 0 0 20px; padding:15px; border:#ddd 1px dashed; min-height:115px;}
.testmonial-img {}
.testmonial-img img{ border-radius:360px; overflow:hidden; border:#fbdf65 4px solid;}
.testmonial-para{ position:relative;}
.testmonial-para .para-margin{ padding:10px 40px; }
.strip-contaner{ background:url(../images/test-bg-vertical.png) repeat-y center top;}
#contact-sidebar{ width:22%; margin:40px 0 0;}

.contact-call-box{ background:#f9f9f9; border:#eee 1px solid; padding:10px;}
.contact-form fieldset{ border:#ddd 1px solid; padding:20px; background:#f8f8f8;}
.contact-form legend{ margin:0 0 0 20px; font-size:16px; color:#00a4b9; font-weight:bold;}
.contact-form label{ width:16%; text-align:right;}
.contact-form .contact-input,.contact-form .contact-textarea,.contact-form .contact-select,.contact-submit{width:80%; float:right}
.contact-form .small-select{ width:30%;}
.register-bg{ background:#f1f1f1; padding:15px; border-bottom:#ddd 1px solid;}
.register-outer{ width:750px;}
.register-form{ border-left:#ddd 1px solid;}
.register-form .omega10{ width:98%;}
.sitemap-outer li{ padding:5px 0 0;}
.sitemap-outer li a{ font-weight:bold;}
.sitemap-outer li a:hover{ text-decoration: underline;}
.sitemap-outer li ul{ padding:0 0 0 30px;}
.sitemap-outer li ul li { padding:3px 0 0 10px; list-style-type: disc;}
.sitemap-outer li ul li a{ font-weight:normal;}

.check-list-outer li{float:left;}
.check-list-outer ul{display:table; width:100%; padding:10px 0 5px; border-bottom:#ddd 1px dashed;}
.check-list-outer li.text-list{ width:59%;}
.check-list-outer li.radio-list{ width:10%; text-align:center; font-size:12px; font-weight:bold;}
ul.bullet-link-list { padding:5px 0 25px;}
.bullet-link-list li{ padding:5px 0 0 25px; background:url(../images/bullet-link-ico.png) no-repeat left 7px; line-height:20px;}
.blue-bg{ background:#ffb72d; padding:20px 0 !important;}

.red{ color:#c00;}

.query-404form input[type="text"]{ padding:10px; display:inline; width:30%; border-radius:4px;}
.query-404form input[type="submit"]{ margin:0 0 0 10px;}
.yellow-bg{ padding:10px 20px; color:#333; background:#ffb72d; border-radius:4px 4px 0 0;}
.order-outer{ width:60%; margin:auto;}
.order-inner{ padding:0 20px 20px; background:#f9f9f9; border:#eee 1px solid;}
.order-outer ul{ display:table; width:100%; padding:10px 0 0}
.order-outer li.order-left{ float:left;}
.order-outer li.order-right{ float:right;}
.msg-div{ background:#ffffff; border:#000000 1px solid; padding:10px;}
.msg-div a{ /*background: #fff;
padding: 3px 5px;
border-radius: 4px*/ text-decoration:underline;}
.item-space p{ padding:5px 0;}


.omega5 label{ width:35%; text-align:right; padding:0 4% 0 0;}
.omega5 input[type="text"],.omega5 input[type="password"]{ width:58%;}
.omega5 select{ width:60%;}
.width-20{ width:20% !important; padding:0!important; text-align:left !important;}
.width-77{ width:77% !important;}

.img-round{ background:#fbdf65; padding:2%; border-radius:360px; overflow:hidden;}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}



.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}


.flexslider {  
	position:relative; 
	padding:0 40px 20px 40px;
}


.flex-viewport { max-height:2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height:300px; }
.flexslider .slides { zoom:1; }
.carousel li {margin-right:5px; }

/* Direction Nav */
.flex-direction-nav a {
 background: url(../images/bg_direction_nav.png) no-repeat scroll 0 0 transparent;cursor: pointer; display: block;height: 32px;margin: -20px 0 0; opacity: 0; position: absolute;
text-indent: -9999px; top: 50%;width: 32px;z-index: 10;}
.flex-direction-nav .flex-next {background-position: 100% 0;right: 5px; opacity:1;}
.flex-direction-nav .flex-prev {left: -5px; opacity:1; }
.flexslider:hover .flex-next { opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {left: -5px;opacity: 0.8;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {cursor: default; opacity: 0 !important;}

.thanks-outer-row{ border:#eee 1px solid; border-bottom:none; border-right:none; display:table; width:100%; margin:15px 0;}
.thanks-outer-row ul{ width:25%; float:left; display:table;}
.thanks-outer-row li{border-right:#eee 1px solid;  border-bottom:#eee 1px solid; min-height:70px; padding:10px;}
.thanks-outer-row li.thank-color-col{ background:#f9f9f9; min-height:inherit; font-weight:bold;}

.width-50{ width:50% !important;}

 #show-background{ position:fixed; z-index:9999; right:0; bottom:50px; display:none;}
 .overlay{ background:#000;}
 .overlay #page{ opacity:.5; filter:alpha(opacity=20); position:relative; z-index:-1; }
  #content-area{ position:absolute; left:0; top:0; width:100%; z-index:999; min-height:100%; color:#fff;}
  .hide{ background:url(../images/Bulb-Off.png) no-repeat; width:32px; height:32px;}
  .show{ background:url(../images/Bulb-On.png) no-repeat; width:32px; height:32px;}
  .margincenter{ margin:auto; padding:50px;}
  
  .introjs-overlay {
	position:absolute;
	z-index:9980;
	background-color:#000;
	opacity:0;
	background-image:url(http://assets-0.housingcdn.com/website/feature_intro/background_1-248af30fd79c53b98608e75b064188e8.png);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#e6000000', GradientType=1);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50);
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.introjs-fixParent {
	z-index:auto !important;
	pointer-events:none
}
.introjs-showElement {
	z-index:9999 !important;
	pointer-events:none
}
.introjs-relativePosition {
	position:relative;
	pointer-events:none
}
.introjs-helperLayer {
	position:absolute;
	z-index:9990;
	background-color:#FFF;
	background-color:rgba(255, 255, 255, 0.9);
	border:1px solid #777;
	box-shadow:0 2px 15px rgba(0, 0, 0, 0.4);
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.introjs-helperLayer.shortlist-summary .introjs-tooltip {
	min-width:198px !important
}
.introjs-helperLayer.grid-controls {
	margin-left:0;
	margin-top:0
}
.introjs-helperLayer.grid-controls .introjs-tooltip {
	top:-10px !important
}
.introjs-helperLayer.subscribe .introjs-tooltip {
	right:-42px !important
}
.introjs-helperLayer.share .introjs-tooltip {
	min-width:140px !important;
	top:-30px !important;
	right:20px !important
}
.introjs-helperLayer.icon-resize-horizontal {
	background-color:#349BFF !important;
	border-radius:50% !important;
	padding:3px;
	border:0px !important;
	box-shadow:0 0 0 !important;
	height:14px !important;
	line-height:14px !important;
	color:white;
	width:15px !important
}
.introjs-helperLayer.icon-resize-horizontal .introjs-tooltip {
	left:-95px !important
}
.introjs-helperLayer.icon-move {
	background-color:#349BFF !important;
	border-radius:50% !important;
	padding:3px;
	border:0px !important;
	box-shadow:0 0 0 !important;
	width:14px !important;
	height:14px !important;
	color:white;
	width:15px !important
}
.introjs-helperLayer.icon-move .introjs-tooltip {
	left:-85px !important
}
.introjs-helperNumberLayer {
	position:absolute;
	top:-16px;
	left:-16px;
	z-index:9999999999 !important;
	padding:2px;
	font-family:Arial, verdana, tahoma;
	font-size:13px;
	font-weight:bold;
	color:white;
	text-align:center;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
	background:#ff3019;
	background:-webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
	background:-moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background:-ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background:-o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background:linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
	width:20px;
	height:20px;
	line-height:20px;
	border:3px solid white;
	border-radius:50%;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
filter:progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000);
	box-shadow:0 2px 5px rgba(0, 0, 0, 0.4)
}
.introjs-arrow {
	border:5px solid white;
	content:'';
	position:absolute
}
.introjs-arrow.top {
	top:-10px;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:white;
	border-left-color:transparent
}
.introjs-arrow.right {
	right:-10px;
	top:10px;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:white
}
.introjs-arrow.bottom {
	bottom:-10px;
	border-top-color:white;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent
}
.introjs-arrow.left {
	left:-10px;
	top:10px;
	border-top-color:transparent;
	border-right-color:white;
	border-bottom-color:transparent;
	border-left-color:transparent
}
.introjs-tooltip {
	position:absolute;
	min-width:190px;
	min-height:120px;
	max-width:300px;
	border-radius:3px;
	-moz-box-shadow:0 0 30px #EAF314;
	-webkit-transition:opacity 0.1s ease-out;
	-moz-transition:opacity 0.1s ease-out;
	-ms-transition:opacity 0.1s ease-out;
	-o-transition:opacity 0.1s ease-out;
	transition:opacity 0.1s ease-out
}
.introjs-tooltipbuttons {
	text-align:right
}

.delete_speech { background:#ffb72d; padding:3px 5px; font-size:14px; margin:20px 20px 0 0; display:inline-block; border-radius:4px; color:#fff;}
.caption-blue{ background:#efefef; border:#ffb72d 1px solid; border-bottom:none;  text-align:center;}
.caption-blue li{border-bottom:#ffb72d 1px solid; display:table; width:100%; cursor:move;}
.speech-left-col{ float:left; width:80%; text-align:left; padding:20px;}
.speech-right-col{ float:right;}

.register-outer-568{ width:568px;}
.validateclass { border:#F00 1px solid; }
.input-form-signup{ float:right; width:61%;}
.input-form-signup select{ }  
.date{ width:20%  !important}
.month{ width:42%  !important;}
.year{ width:30%  !important;}

.narrow-side #sidebar.alignright .date,
.narrow-side #sidebar.alignright .month,
.narrow-side #sidebar.alignright .year { width:100%  !important;}


.font-16{ font-size:16px;}
.popupwindow{width:600px;}
.popupwindow .img-align{ margin-top:15px; border:#ddd 1px solid;}
.proceed-btn{ background:url(../images/proceed-ico.png) no-repeat 5px center #00a4b9; padding:10px 10px 10px 35px; font-size:14px; display:inline-block; border-radius:4px; color:#fff;}
.subcribe-msg{ font-size:16px; font-weight:bold;}

#lightbox .lightbox {
	margin: 0 auto;
}

.pop-link img {
	width: 50%;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.radio-list input {
-webkit-appearance: radio;
-moz-appearance: radio;
appearance: radio;
}



input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

@media only screen and (min-width:801px) {
	.nav-collapse { 
		float:right; 
		width:53%; 
		position:relative;
		margin-top: 0;
	}

	.nav-collapse li{ float:left; position:relative;  text-transform:uppercase; font-family:Arial, Helvetica, sans-serif !important; font-size:13px;}

	.nav-collapse li a { 
		padding:5px 10px; 
		display:block; 
		*padding:0px 10px; 
		*height:30px; 
		*line-height:30px;
		color: #ffffff;	
	}

	.nav-collapse li a:hover,
	.nav-collapse li a.loginlink {
		color: #ffb72d;
	}

	.nav-collapse li a.loginlink:hover {
		color: #ffffff;
	}

	.nav-collapse li span.menu-ico{ background:url(../images/li-menu-ico.png) no-repeat right top; display:inline-block; width:11px; height:7px; padding:1px;}

	.nav li.seprator{ padding:5px 0px;}


	.nav-collapse li ul{ position:absolute; display:none; left:0; top:30px;}
	.nav-collapse li:hover ul{ display:block; background:#fbb544; padding:0;  overflow:hidden;}
	.sub-menu li { 
		float:none; 
		text-transform:none;
		border-bottom: 1px solid #ffffff;
	}
	
	.sub-menu li a {
		color:#fff; 
		display: block;
		min-width:160px;
		padding: 7px;
	}
	
	.sub-menu li a:hover {
		color:#fbb544; 
		background-color: #ffffff;
	}
	
	#registermobile {
		display: none;
	}
	
	.omega5.loginwide input[type="text"],.omega5.loginwide input[type="password"]{ width:98%;}
	
	.omega5.loginwide label{ width:90%; text-align:left;}

}

@media only screen and (max-width:1199px) {

	#panicouter { 
		background-image: none;
	}
	
	#breadcrumbs.alpha-ver15 {
    width: 94%;
    padding: 20px 3%;
	}
	
	.work-outer {
    overflow: visible;
	}
	
	.sub-heading {
		padding-left: 10px;
	}
	
	.footer-links {
		width: auto;
	}
}

@media only screen and (max-width:1100px) {
	#badgeouter {
    margin-left: 500px;
  }
  
  	h2.click {
		margin-left: 5%;
	}
}

@media only screen and (max-width:1000px) {
	#badgeouter {
    padding-top: 135px;
    margin-left: 470px;
	}
}

@media only screen and (max-width:1000px) {
	#badgeouter {
    padding-top: 110px;
    margin-left: 440px;
	}

	#panic { 
		min-height: 250px;
	}
}

@media only screen and (max-width:800px) {
	#logo {
		width: 70%;
	}
	
	.col_12,
	.col_17,
	.col_86,
	.col_40,
	.col_58,
	.col_62,
	.col_78,
	.col_30,
	.col_48,
	.col_20,
	.col_16,
	.col_24,
	.col_74,
	.col_25,
	.col_70,
	.col_80,
	.step1,
	.step2,
	.step3,
	.testimonial-outer,
	.testimonial-outer2 { 
		width:98% !important;
		padding: 0 1%;
	}
	
	.col_40.yellow-big-btn {
		padding: 4%;
		width: 80% !important;
	}
	
	.foot-widget-1,
	.foot-widget-3 { 
	width:55%;
	}

	.foot-widget-2,
	.foot-widget-4 { 
		width:45%;
	}
	
	.strip-contaner {
		background: none;
	}
	
	#badgeouter {
		display: none;
	}
	
	#panicouter,
	#panic {
		min-height: 240px;
	}
	
	#registermobile {
		background: #000000;
	}
	
	#registermobile h3 {
		color: #ffffff;
	}
	
	#registermobile h3 span {
		color: #ffb72d;
	}
	
	.testmonial-inner {
		margin-top: 20px;
	}
	
	.col_1280 .col_49 {
    width: 100%;
	}
	
	 h2.click {
		margin-left: 0;
		text-align: center;
	}
	
	#hotbuttons {
	width: 90%;
	padding-right:  5%;
}
	
	.banner-widget-outer { 
		width: 96%;
		margin: 1% 2%;
	}
	
	
   #main-content, #msg-content {
   	width: 100%;
   }
   
   #sidebar {
   	width: 98%;
   }
   
   .check-list-outer li.text-list {
   	padding-left: 5px;
   }
   
   p {
   	padding: 0 5px;
   }
   
   .col_49 {
	 	width: 100%;
	 }
	 
	 .register-form .omega5 input[type="text"],
	 .register-form .omega5 input[type="password"] {
	 	width:38%;
	 }
	  
	 .col_16 {
	 	width: auto !important;
	 }
	 
	 .date, 
	 .month,
	 .year { 
	 		width:70% !important;
	 		margin-bottom: 10px;
	 	}
	 	
	 	.register-form {
    border-left: none;
}
}

@media only screen and (max-width:700px) {
	#panic {
		min-height: 200px;
	}
	
	.omega-ver20 .small-btn {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width:600px) {
	#panic {
		min-height: 175px;
	}
	
	.footer-links.alignright {
		float: left;
		margin-top: 5px;
	}
	
	.footer-links.alignright,
	#bottom-outer .alignleft {
		padding-left: 10px;
	}
}

@media only screen and (max-width:550px) {
	#panic {
		min-height: 160px;
	}
}

@media only screen and (max-width:500px) {
	
	.foot-widget-1,
	.foot-widget-2,
	.foot-widget-3,
	.foot-widget-4 { 
		width:100%;
	}

	#main-content,
	#sidebar,
	#contact-sidebar .about #main-content,
	.about #sidebar	{	
		width:98% !important;
		padding: 0 1%;
	}
	
	#contact-sidebar {
		width: auto;
		float: left;
	}
		
	.banner-widget-outer { 
		width: 100%;
		margin: 2% 0;
	}
	
	h2.click {
		font-size: 22px;
	}
	
	.banner-widget-outer a h2 {
		font-size: 34px;
	}
	
	.check-list-outer li.text-list {
    width: 39%;
	}
	
	.check-list-outer li.radio-list {
		width: 14%;
	}
	
}

@media only screen and (max-width:480px) {
	#panic {
		min-height: 140px;
	}
	
	.banner-widget-outer a h2 {
    font-size: 30px;
	}
	
	#banner .omega20 {
		margin-top: 0;
	}
	
	.omega60#notyet a.yellow-btn { margin-top:20px; float: none;}
}

@media only screen and (max-width:375px) {
	#panic {
		min-height: 110px;
	}
}

@media only screen and (max-width:320px) {
	#panic {
		min-height: 100px;
	}
	
	.omega5 label{ width:45%;}
}

/*@media only screen and (max-width:1024px){
#logo{ width:30%;}
.nav{ width:62%;}

.ban-img img{ width:145px; height:145px;}
.work-outer{ border-radius:0px; }
.work-circle{ width:10%; height:auto; border-radius:0px; padding:0 0 15px; min-height:80px;}
.post-img img{ width:60%;}
}

@media only screen and (max-width:800px){
#logo{ width:100%; text-align:center; float:none;}
.nav{ width:auto; float:none; display:table; margin:10px auto;}
.main-heading{ font-size:20px;}
.main-heading span{ font-size:24px;}
.ban-img img{ width:195px; height:195px;}
#testimonials-outer .feedback-widget .alignleft{ float:left; margin:0}
.feedback-outer .alignleft,#bottom-outer .alignleft{ float:left; margin:0;}
.feedback-outer .alignright,#bottom-outer .alignright{ float:right; margin:0;}
#bottom-outer .alignright p{ font-size:12px;}
.col_40,.col_58,.col_78,.col_48,.col_30{ width:auto;}
.alignleft,.alignright{ float:none; }

.alignright{ margin:20px 0 0;}
#footer-outer{ display:none;}
#main-content,#sidebar,#contact-sidebar{ width:auto;}
.testmonial-inner,.testmonial-inner2{ margin:0;}
.testimonial-outer,.testimonial-outer2{ width:auto; background:none;}
.testmonial-inner .alignleft, .testmonial-inner2 .alignleft{ float:left !important;}
.testmonial-inner .alignright,.testmonial-inner2 .alignright{ float:right !important;}
.omega60{ margin:20px 0 0;}
.col_74,.col_24{ width:auto;}
.step1, .step2, .step3{ float:left;}
.step1 .alignright, .step2 .alignright, .step3{ float:right; margin:0;}

.bride-outer .ban-img{ width:auto !important; display:table !important;}
.work-circle{ min-height:inherit;}
}
.date{ width:14%  !important}
.month{ width:24%  !important;}
.year{ width:20%  !important;}


#sidebar .date{ width:24%  !important}
#sidebar .month{ width:35%  !important;}
#sidebar .year{ width:35%  !important;}
@media only screen and (max-width:750px) {
.nav{ width:100%;}
 .menu-postion{ margin:0;}
 .nav li ul{ position:static; width:auto;}
 .nav li.seprator{ display:none;}
 a.menu-link { background:#00a4b9;
		display: block;
		color: #fff;
		padding:0; height:40px; border-radius:4px; text-align:center; width:100%; line-height:40px;}
		a.back-btn-home{background:url(../images/back-to-search.png) no-repeat left center; float:right; color: #fff; display:block; padding:0 10px 0 25px;}

.menu {position:absolute; left:0; top:40px; margin:0; width:100%;background:#fbdf65;z-index:1; border-radius:0px 0px 8px 8px; overflow:hidden;}
		.menu ul{float:none !important; background:none!important; border:none!important; }
		.menu ul li{ float:none;  background:none !important; border-radius:0px !important; border-bottom:#999 1px dashed; font-size:14px;}
		.menu ul li.red-box{ display:none;}
		.menu ul li a{ padding:0 20px; color:#000; line-height:30px !important; font-weight:normal;}
		.menu ul li a:hover{ background:#fff; color:#2c79be; border-radius:0px;}
		.menu ul li div{ display:none !important;}
		.menu, .menu > ul ul {overflow: hidden;max-height: 0;}
	
		.menu ul.sub-menu {
		overflow: hidden;
		max-height:40em !important;

	}
	.menu ul li ul a{ background:none !important;}
	.menu ul li ul a:hover{ background:none!important; padding:0 20px;}
	.menu > li > ul.sub-menu {
	padding: 0px;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box; 
	}
	.menu.active3, .menu > ul ul.active3 {
		max-height: 55em;
	}

.work-circle{ float:none; width:100%; margin:0 !important; padding:0;}
.work-circle p{ padding:10px; margin:0 !important;}
.work-para{ width:auto; float:none;}
.bride-outer .ban-img img{ width:240px; height:240px !important;}
.register-outer{ width:100%;}
.register-outer .col_49{ width:auto; !important}

}

@media only screen and (max-width:640px) {
.foot-logo{ width:45%;}
.ban-img img{ width:155px; height:155px;}
#bottom-outer .alignleft,#bottom-outer .alignright{ float:none; text-align:center;}
.footer-links{ float:none; width:auto;}
}

@media only screen and (max-width:568px) {

.banner-widget-outer{ float:none; clear:both; margin:0 auto; width:60%;}
.ban-img img{ width:240px; height:240px;}
h2,#caption-outer strong{ font-size:20px;}
.feedback-outer{ border-radius:0px}
.feedback-img{ width:150px; height:150px;}
.foot-logo{ float:none; width:auto; text-align:center;}

.step1,.step2,.step3{ width:100%; float:none;}
.step2bg-default span{ background:none;}
.cont-left,.cont-right{ float:none;}
.col_80,.col_17{ width:auto!important;} 
}

@media only screen and (max-width:380px) {
.contact-form .contact-input, .contact-form .contact-textarea, .contact-form .contact-select, .contact-submit,label,.enquiry-form .input-form{ float:none; width:auto;}
.medium-btn{ font-size:15px;}
.banner-widget-outer{ width:90%;}
.col_25,.col_70,.col_62{ width:auto;}
.testmonial-inner .alignleft, .testmonial-inner2 .alignleft{ float:none !important;}
.testmonial-inner .alignright,.testmonial-inner2 .alignright{ float:none !important;}
#testimonials-outer { text-align:center;}
.feedback-outer .alignright, #bottom-outer .alignright{ float:none;}
.footer-links{ font-size:11px;}
}



.delete_speech { background:#00a4b9; padding:3px 5px; font-size:14px; margin:20px 20px 0 0; display:inline-block; border-radius:4px; color:#fff;}
.caption-blue{ background:#d7f7ff; border:#9ceafe 1px solid; border-bottom:none;  text-align:center;}
.caption-blue li{border-bottom:#9ceafe 1px solid; display:table; width:100%; cursor:move;}
.speech-left-col{ float:left; width:80%; text-align:left; padding:20px;}
.speech-right-col{ float:right;}

.register-outer-568{ width:568px;}
.validateclass { border:#F00 1px solid; }

.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 999;
}
.lightbox_table {
	width: 100%;
	height: 100%;
}
.lightbox_table_cell {
	vertical-align: middle;
}
.lightbox_content {
	display: table;
	position: relative;
}
.lightbox_content p a {
	float: left;
	display: block;
	width: 90px;
	padding: 20px
}
.lightbox_content p span {
	display: block;
	font-size: 12px;
}
.close-icon {
	position: absolute;
	right: -16px;
	top: -16px;
	cursor: pointer;
}*/