/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 40px;
    height: 30px;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    background: #000000 	url("../images/burger.png") no-repeat 0 5px;
}

.nav-toggle.active {
	min-height: 20px;
}

.nav-collapse {
	padding-top: 10px;
}

@media screen and (min-width: 801px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 800px) {

	.nav-collapse ul {
  	margin: 0;
  	padding: 0;
  	width: 100%;
  	display: block;
  	list-style: none;
	}


	.js .nav-collapse {
  	clip: rect(0 0 0 0);
  	max-height: 0;
  	position: absolute;
  	display: block;
  	overflow: hidden;
  	zoom: 1;
	}

	.nav-collapse.opened {
 		max-height: 9999px;
	}

	.nav-toggle {
  	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	-o-user-select: none;
  	user-select: none;
	}

	.nav-collapse a {
		width: 100%;
		display: block;
		color: #ffffff;
		background-color: #fbb544;
		border-bottom: 1px solid #ffffff;
		padding: 7px;
	}

	.nav-collapse a:hover {
		color: #fbb544;
		background-color: #ffffff;}

	.nav-collapse li.speech a#speechbutton {
		display: none;
	}
	

}

