/*global settings*/
* {margin:0; padding:0; border:0; outline:none; text-decoration:none; font-family:Arial, Helvetica, sans-serif; }

.clear{ clear:both;}

.col-700{ width:700px; display:table; margin:0 auto; padding:50px 0 0; text-align:center;}

.center-align{ text-align:center; margin:0 0 20px;}

.blue {
color: #00a4b9;
}
.alignmodule{ display:table; width:300px; margin:0 auto;}
.alignleft{ float:left; margin:10px 0 0;}
.alignright{ float:right; margin:10px 0 0;}
.bluebtn{background: #00a4b9;
padding: 10px 15px; color:#fff; border-radius:4px; font-size:14px; font-weight:bold;}