/*global settings*/
* {margin:0; padding:0; border:0; outline:none; text-decoration:none;  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ width:100%; display:block;}

article:after, aside:after, figure:after, footer:after, header:after, hgroup:after, menu:after, nav:after, section:after{clear:both; content:""; display:block;}

html {height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

body {color:#333; font-size:14px; line-height:1.5em; font-family:Helvetica, sans-serif;}

.clear{ clear:both;}

/*global floats*/ 
.alignleft,.cont-left{ float:left;}
.alignleftimg{ float:left; margin:0 10px 0 0;}
.alignright,.cont-right{ float:right;}
.aligncenter{ text-align:center; margin:auto;}
.textalignright{ text-align:right;}
.alignauto{ overflow:hidden;}
.ZipCodeStyle{ display:none !important;}
/*global headings and paragraphs*/
h1{font-size: 28px; line-height:normal; font-family: 'ralewaysemibold'; font-weight: normal;}
h2{ font-size:25px; line-height:normal; font-family: 'ralewaybold'; font-weight: normal;}
h3{ font-size:22px; line-height:normal; font-family: 'ralewaysemibold'; font-weight: normal;}
.forgot-heading{font-size:22px; line-height:normal; font-family: 'ralewaysemibold'; font-weight: normal;}
.sub-heading{ font-size:20px; line-height:normal;font-family: 'ralewaysemibold'; font-weight: normal;}
.big-heading{   line-height:normal;font-family: 'ralewayregular';font-weight: bold; font-size:36px;}
.footer-heading{  font-family: 'ralewaysemibold';   font-size:20px;}
.small-heading{ font-size:15px;}

.font-14{ font-size:14px;}
.font-18{ font-size:18px;}
.main-heading span{ font-size:36px;}
.main-heading{ font-family: 'ralewaysemibold';}
.automargin{ display:table; margin:10px auto; clear:both;}

p{ font-size:15px; font-family:Arial, Helvetica, sans-serif;}

/*global image*/
img{ max-width:100%; height:auto; vertical-align:middle;}

/*global anchors*/
a{ color:#333;}
a:hover{ text-decoration:none;}
a:active{ text-decoration:none;}
.black{ color:#000;}
.black:hover{ text-decoration:underline;}
/*global list style*/
ul{ list-style:none; padding:0; margin:0;}
ul.disc{ list-style:disc !important; padding:10px 0 0 20px;}

/*global fonts*/
@font-face {
    font-family: 'ralewayregular';
    src: url('../font/raleway-regular.eot');
    src: url('../font/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-regular.woff') format('woff'),
         url('../font/raleway-regular.ttf') format('truetype'),
         url('../font/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../font/raleway-bold.eot');
    src: url('../font/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-bold.woff') format('woff'),
         url('../font/raleway-bold.ttf') format('truetype'),
         url('../font/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../font/raleway-semibold.eot');
    src: url('../font/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-semibold.woff') format('woff'),
         url('../font/raleway-semibold.ttf') format('truetype'),
         url('../font/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*global margins*/
.omega5{ margin:0 0 10px; display:table; width:100%;}
.omega10{ margin:10px 0 0;}
.omega15{ margin:12px 0 0;}
.omega20{ margin:20px 0 0;}
.omega30{ margin:30px 0 0;}
.omega40{ margin:40px 0 0;}
.omega60{ margin:20px 0 0;}
.omega-ver10{ margin:10px 0;}
.omega-ver20{ margin:20px 0;}
.omega-hor-10{ margin:0 10px;}
/*global paddings*/
.alpha10{ padding:10px 0 0;}
.alpha20{ padding:20px 0 0;}
.alpha30{ padding:30px 0 0;}
.alpha40{ padding:40px 0 0;}
.alpha-ver15{ padding:20px 0;}
.alpha-all10{ padding:20px;}
.alpha-all5{ padding:10px;}
.add-bg{ background:#e4f4ff; border:#ddd 1px dashed; padding:10px;}
/*global buttons*/
.big-btn{ background:#1ea1fc; padding:20px 25px; display:inline-block; font-size:20px;  border-radius:4px; color:#fff; text-transform:uppercase;}
.medium-btn{ background:#1ea1fc; padding:15px; font-size:20px; display:inline-block;  border-radius:4px; color:#fff;}
.small-btn{background:#1ea1fc; padding:10px; font-size:14px; display:inline-block; border-radius:4px; color:#fff;}
.blue-btn{ background:#e4f4ff; border:#9ceafe 1px solid; border-radius:4px;  color:#1ea1fc; display:inline-block; padding:8px 15px;}
.yellow-btn{ background:#fbdf65; border-radius:4px; padding:5px 10px;}

/*global inputs*/
input[type="text"],input[type="password"]{ width:98%; padding:5px 1%; display:block; border:#ddd 1px solid;}
textarea{ width:98%; padding:1%; border:#ddd 1px solid;}
input[type="submit"]{background:#1ea1fc; padding:10px 15px; *padding:10px 7px; color:#fff; cursor:pointer; font-size:16px; border-radius:4px;}
input[type="checkbox"]{ padding:1px; vertical-align:middle;}
select{ width:100%; padding:5px 1%;border:#ddd 1px solid;}
label{ font-size:13px; float:left;}
.blue{ color:#1ea1fc !important;}

/*main css*/
#page{ width:100%;  background:#fff;}
#page:after{ clear:both; content:""; display:block;}

#logo{ float:left;}

.menu-link {display:none; float:left; text-decoration:none;}
.nav{ float:right; width:53%; position:relative;}
.nav li{ float:left; position:relative;  text-transform:uppercase; font-family:Helvetica, sans-serif !important; font-size:13px; font-weight:bold;}
.nav li a{ padding:5px 10px; border-radius:6px 6px 0 0; display:block; color:#797a7b; *padding:0px 10px; *height:30px; *line-height:30px;}
.nav li span.menu-ico{ background:url(../images/li-menu-ico.png) no-repeat right top; display:inline-block; width:11px; height:7px; padding:2px;}
.nav li.speech a:hover,.nav li.speech:hover > a{border:#9ceafe 1px solid; border-bottom:none; position:relative; z-index:9999; padding:4px 9px 5px;*padding:0px 9px; *line-height:29px;}
.nav li.seprator{ padding:5px 0px;}
.nav li a:hover,.nav li:hover > a{background:#e4f4ff; border:none;}

.nav li ul{ position:absolute; display:none; left:0; top:30px; width:150px; border:#9ceafe 1px solid;}
.nav li:hover ul{ display:block; background:#e4f4ff; padding:0;  border-radius:0px 0px 6px 6px; overflow:hidden;}
.sub-menu li{ float:none; text-transform:none; border-bottom:#9ceafe 1px solid; padding:5px 10px;}
.sub-menu li a{color:#333; padding:0 !important; *line-height:normal!important; *height:auto!important;}
.sub-menu li a:hover{ background:none; border:none !important; padding:0; *line-height:normal!important; *height:auto!important;}

.col_1280{ width:1200px; margin:0 auto;}

.col_12{ width:12%;}
.col_17{ width:17%;}
.col_86{ width:86%;}
.col_40{ width:40% !important;}
.col_58{ width:58%;}
.col_62{ width:62%;}
.col_78{ width:78%;}
.col_30{ width:30%;}
.col_49{ width:49%;}
.col_48{ width:49%;}
.col_20{ width:20%;}
.col_16{ width:18%;}
.col_24{ width:24%;}
.col_74{ width:74%;}
.col_25{ width:25%;}
.col_70{ width:70%;}
.col_80{ width:80% !important;}

#banner{ background:#f9f9f9; border-top:#e4f4ff 4px solid;}
.banner-widget-outer{width:30%; text-align:center; float:left; margin:0 0 0 3%;}
.banner-widget{ background:#fbdf65;  border-radius:360px 360px 0 0; padding:0 0 10px; font-weight:bold;}
.banner-widget:hover{ background:#1ea1fc; cursor:pointer; color:#fff;}

.banner-widget p{line-height: 17px;
padding: 7px 0;}
.banner-widget-outer span{ top:-10px; position:relative;font-weight:bold;}
.sprite-img{ text-align:right; padding:0 0 0 10px; float:right; *width:26px; *float:none;}
.banner-widget img{border-radius:360px; width:100%;}
.ban-img{ border-radius:360px; background:#fff; padding:2%; text-align:center; margin:auto;}
.ban-bg{ background:#dfb834; padding:5px; border-radius:360px; *width:190px;}
.ban-img img{ width:190px; height:190px; border-radius:360px;}
.ban-ico{ width:42px; height:42px; background:#fff; border-radius:360px; overflow:hidden; text-align:center; margin:-20px auto 0; position:relative;}
.ban-ico img{ margin:10px 0 0;}

#caption-outer{ background:#e4f4ff; margin:1px 0 0}
#caption-outer strong{font-family: 'ralewaybold'; font-size:32px; font-weight: normal;}

#testimonails-outer{}
.test-para{ padding:10px 40px; position:relative;}
.test-img{ border-radius:360px; }
.test-ico-left{ padding:5px; position:absolute; left:0; top:0}
.test-ico-right{padding:5px; position:absolute; right: 10px;
bottom: 0px;}
.semi-font{}

.feedback-outer{ background:url(../images/feedback-bg.jpg) repeat-x left top #fafafa; border:#eee 1px solid; border-radius: 0px 360px 360px 0; position:relative; width:96%; padding:2%;}
.feedback-img{border-radius:360px;  width:170px; height:170px; }


#footer-outer{ background:#f9f9f9;}
.foot-widget-1{ width:30%;}

.foot-widget-1 .alignleftimg{ width:22%;}
.foot-widget-2{ width:35%;  margin:0 2%; padding:0 1%; border-left:#ddd 1px solid; border-right:#ddd 1px solid; min-height:250px;}
.foot-widget-2 .footer-para{ position:relative;padding:10px 40px;}
.foot-widget-3{ width:28%;min-height:250px;}
.subscribe-form{ border:#ddd 1px solid; background:#fff; border-radius:4px; overflow:hidden;}
.sub-input{ width:50%; float:left; padding:2% 2% 1%;}
.sub-input input[type="text"]{ border:#fff 1px solid;}
.sub-button input[type="submit"]{ width:100% !important;}
.sub-button{ float:right; width:40%; background:url(../images/subscribe-arrow.png) no-repeat left center; padding:0 0 0 8px;}
#bottom-outer{ background:#444444;}
.footer-links{ color:#999; width:30%; text-align:right; }
.footer-links a{ color:#999; }
.footer-links a:hover{text-decoration:underline;}
.bullet-links li{ background:url(../images/bullets-ico.png) no-repeat left center; padding:0 0 0 15px; font-size:15px;}
.social-ico{ float:right;}
.social-ico li{ float:left; margin:0 0 0 10px;}
.bride-outer{ background:#f9f9f9; padding:20px; margin:100px 0 20px;}

.bride-circle-outer{ margin-top:-100px;}
.post-img{ position:absolute; right:0; top:0; text-align:right; width:14%;}
.post-img img{ width:80%;}
.brideside-left{ float:left;}
.brideside-right{ float:right;}
.dashed-border{ border-top:#ddd 1px dashed; margin:10px 0 0; padding:10px 0 0;}
.work-outer{ background:#f9f9f9; overflow:hidden;border-radius:360px 0 0 360px;}
.work-circle{ width:7em; height:7em; background:#e4f4ff; border-radius:360px; float:left; text-align:center; font-weight:bold;}
.work-circle p{font-family: 'ralewaysemibold'; font-size:20px; margin:25px 0 0; font-weight:normal;}
.work-para{ float:right; margin:10px; width:85%;}
#breadcrumbs{ background:#e4f4ff}
#breadcrumbs li{ float:left; padding:0 10px 0 0}
#breadcrumbs li a{ color:#0b7886;}
.foot-logo{ float:left;}
.step-outer{ border:#eee 1px solid; padding:0 0 20px; }

.step1bg{ background:#e4f4ff; min-height:57px; position:relative; padding:10px 0 0;}
.step1bg p,.step2bg p{ font-size:16px;font-family: 'ralewaysemibold';}

.text-list2{ width:78%;}
.step2bg-default{ background:#f6f4f4;  min-height:57px; position:relative; padding:10px 0 0;}
.step2bg-default span{background:#f6f4f4 url(../images/step1.png) right top; width:43px; height:67px; position:absolute; left:0; top:0;}
.step2bg-default p{ opacity:.4;font-family: 'ralewaysemibold'; padding:0 5px;}

.active{ background:#fbdf65; min-height:57px; position:relative; padding:10px 0 0;}
.active span{ background:#fbdf65 url(../images/step1.png) right top; width:43px; height:67px; position:absolute; left:0; top:0;}
.active p{ opacity:1;}

.step3bg-default{ background:#f9f9f9;  min-height:57px; position:relative; padding:10px 0 0;}
.step3bg-default span{ background:#f9f9f9 url(../images/setp2-default.png) right top; width:43px; height:67px; position:absolute; left:0; top:0;}
.step3bg-default img{ opacity:.4}

.active2{ background:#e4f4ff; min-height:57px; position:relative; padding:10px 0 0;}
.active2 span{ background:#e4f4ff url(../images/setp2.png) right top; width:43px; height:67px; position:absolute; left:0; top:0;}

.active2 img{ opacity:1}
.step1,.step2{ width:33%; text-align:center;}
.step1 ul,.step2 ul{ padding:30px 0 0; border-right:#eee 1px solid; }
.step1 li ,.step2 li { padding:0 20px;}
.step1 li a,.step2 li a{ border-bottom:#ddd 1px dashed; text-align:center; display:block; padding:5px 0}
.step2 li.active{ background:#fbdf65; min-height:inherit !important; *min-height:30px;}
.step1 li.active{ background:#e4f4ff; min-height:inherit!important;*min-height:30px;}
.step3{ width:34%; text-align:center}
.step-para{ padding:0 40px; position:relative;}


.step-outer .numberic{ width:20px; height:20px; float:left; position:static; border-radius:360px; border:#333333 2px solid; background:none;}
.stepaligncenter{ display:table; margin:auto; text-align:center; width:114px;}
#main-content,#msg-content{ width:74%;}
#sidebar{ background:#f8f8f8; width:22%; padding:15px; margin:40px 0 0;}

.enquiry-form .input-form{ float:right; width:60%;}
.pic-style{ border:#f8f8f8 1px solid; background:#fbdf65; padding:5px; text-align:center; font-weight:bold;}
.pic-style img{ margin:0 0 10px;}
.testimonial-outer{ width:49.5%; background:url(../images/testimonial-bg-ico.png) no-repeat right center;}
.testimonial-outer2 {width:49.5%; background:url(../images/testimonial-bg-ico2.png) no-repeat left center; margin:20px 0 0;}
.testmonial-inner{ background:#f9f9f9; margin:0 20px 0 0; padding:15px; border:#ddd 1px dashed; min-height:115px;}
.testmonial-inner2{background:#f9f9f9; margin:0 0 0 20px; padding:15px; border:#ddd 1px dashed; min-height:115px;}
.testmonial-img {}
.testmonial-img img{ border-radius:360px; overflow:hidden; border:#fbdf65 4px solid;}
.testmonial-para{ position:relative;}
.testmonial-para .para-margin{ padding:10px 40px; }
.strip-contaner{ background:url(../images/test-bg-vertical.png) repeat-y center top;}
#contact-sidebar{ width:22%; margin:40px 0 0;}

.contact-call-box{ background:#f9f9f9; border:#eee 1px solid; padding:10px;}
.contact-form fieldset{ border:#ddd 1px solid; padding:20px; background:#f8f8f8;}
.contact-form legend{ margin:0 0 0 20px; font-size:16px; color:#1ea1fc; font-weight:bold;}
.contact-form label{ width:16%; text-align:right;}
.contact-form .contact-input,.contact-form .contact-textarea,.contact-form .contact-select,.contact-submit{width:80%; float:right}
.contact-form .small-select{ width:30%;}
.register-bg{ background:#f1f1f1; padding:15px; border-bottom:#ddd 1px solid;}
.register-outer{ width:100%;}
.register-form{ border-left:#ddd 1px solid;}
.register-form .omega10{ width:98%;}
.sitemap-outer li{ padding:5px 0 0;}
.sitemap-outer li a{ font-weight:bold;}
.sitemap-outer li ul{ padding:0 0 0 30px;}
.sitemap-outer li ul li { padding:3px 0 0 10px; background:url(../images/bullets-ico.png) no-repeat left center;}
.sitemap-outer li ul li a{ font-weight:normal;}

.check-list-outer li{float:left;}
.check-list-outer ul{display:table; width:100%; padding:10px 0 5px; border-bottom:#ddd 1px dashed;}
.check-list-outer li.text-list{ width:59%;}
.check-list-outer li.radio-list{ width:10%; text-align:center; font-size:12px; font-weight:bold;}
ul.bullet-link-list { padding:5px 0 25px;}
.bullet-link-list li{ padding:5px 0 0 25px; background:url(../images/bullet-link-ico.png) no-repeat left 7px;}
.blue-bg{ background:#e4f4ff; padding:20px 0 !important;}

.red{ color:#c00;}

.query-404form input[type="text"]{ padding:10px; display:inline; width:30%; border-radius:4px;}
.query-404form input[type="submit"]{ margin:0 0 0 10px;}
.yellow-bg{ padding:10px 20px; color:#333; background:#fbdf65; border-radius:4px 4px 0 0;}
.order-outer{ width:60%; margin:auto;}
.order-inner{ padding:0 20px 20px; background:#f9f9f9; border:#eee 1px solid;}
.order-outer ul{ display:table; width:100%; padding:10px 0 0}
.order-outer li.order-left{ float:left;}
.order-outer li.order-right{ float:right;}
.msg-div{ background:#fdbaba; border:#fb7070 1px solid; padding:10px;}
.msg-div a{ /*background: #fff;
padding: 3px 5px;
border-radius: 4px*/ text-decoration:underline;}
.item-space p{ padding:5px 0;}


.omega5 label{ width:35%; text-align:right; padding:0 4% 0 0;}
.omega5 input[type="text"],.omega5 input[type="password"]{ width:58%;  border:#dddddd 1px solid !important;}
.omega5 select{ width:60%;}
.width-20{ width:20% !important; padding:0!important; text-align:left !important;}
.width-77{ width:77% !important;}

.img-round{ background:#fbdf65; padding:2%; border-radius:360px; overflow:hidden;}


.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}



.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}


.flexslider {  position:relative; padding:10px 40px;}
.flex-viewport { max-height:2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height:300px; }
.flexslider .slides { zoom:1; }
.carousel li {margin-right:5px; }

/* Direction Nav */
.flex-direction-nav a {
 background: url(../images/bg_direction_nav.png) no-repeat scroll 0 0 transparent;cursor: pointer; display: block;height: 32px;margin: -20px 0 0; opacity: 0; position: absolute;
text-indent: -9999px; top: 50%;width: 32px;z-index: 10;}
.flex-direction-nav .flex-next {background-position: 100% 0;right: 5px; opacity:1;}
.flex-direction-nav .flex-prev {left: -5px; opacity:1; }
.flexslider:hover .flex-next { opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {left: -5px;opacity: 0.8;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {cursor: default; opacity: 0 !important;}

.thanks-outer-row{ border:#eee 1px solid; border-bottom:none; border-right:none; display:table; width:100%; margin:30px 0;}
.thanks-outer-row ul{ width:25%; float:left; display:table;}
.thanks-outer-row li{border-right:#eee 1px solid;  border-bottom:#eee 1px solid; min-height:70px; padding:10px;}
.thanks-outer-row li.thank-color-col{ background:#f9f9f9; min-height:inherit; font-weight:bold;}

.width-50{ width:50% !important;}

 #show-background{ position:fixed; z-index:9999; right:0; bottom:50px; display:none;}
 .overlay{ background:#000;}
 .overlay #page{ opacity:.5; filter:alpha(opacity=20); position:relative; z-index:-1; }
  #content-area{ position:absolute; left:0; top:0; width:100%; z-index:999; min-height:100%; color:#fff;}
  .hide{ background:url(../images/Bulb-Off.png) no-repeat; width:32px; height:32px;}
  .show{ background:url(../images/Bulb-On.png) no-repeat; width:32px; height:32px;}
  .margincenter{ margin:auto; padding:50px;}
  
  .introjs-overlay {
	position:absolute;
	z-index:9980;
	background-color:#000;
	opacity:0;
	background-image:url(http://assets-0.housingcdn.com/website/feature_intro/background_1-248af30fd79c53b98608e75b064188e8.png);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#e6000000', GradientType=1);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50);
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.introjs-fixParent {
	z-index:auto !important;
	pointer-events:none
}
.introjs-showElement {
	z-index:9999 !important;
	pointer-events:none
}
.introjs-relativePosition {
	position:relative;
	pointer-events:none
}
.introjs-helperLayer {
	position:absolute;
	z-index:9990;
	background-color:#FFF;
	background-color:rgba(255, 255, 255, 0.9);
	border:1px solid #777;
	box-shadow:0 2px 15px rgba(0, 0, 0, 0.4);
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.introjs-helperLayer.shortlist-summary .introjs-tooltip {
	min-width:198px !important
}
.introjs-helperLayer.grid-controls {
	margin-left:0;
	margin-top:0
}
.introjs-helperLayer.grid-controls .introjs-tooltip {
	top:-10px !important
}
.introjs-helperLayer.subscribe .introjs-tooltip {
	right:-42px !important
}
.introjs-helperLayer.share .introjs-tooltip {
	min-width:140px !important;
	top:-30px !important;
	right:20px !important
}
.introjs-helperLayer.icon-resize-horizontal {
	background-color:#349BFF !important;
	border-radius:50% !important;
	padding:3px;
	border:0px !important;
	box-shadow:0 0 0 !important;
	height:14px !important;
	line-height:14px !important;
	color:white;
	width:15px !important
}
.introjs-helperLayer.icon-resize-horizontal .introjs-tooltip {
	left:-95px !important
}
.introjs-helperLayer.icon-move {
	background-color:#349BFF !important;
	border-radius:50% !important;
	padding:3px;
	border:0px !important;
	box-shadow:0 0 0 !important;
	width:14px !important;
	height:14px !important;
	color:white;
	width:15px !important
}
.introjs-helperLayer.icon-move .introjs-tooltip {
	left:-85px !important
}
.introjs-helperNumberLayer {
	position:absolute;
	top:-16px;
	left:-16px;
	z-index:9999999999 !important;
	padding:2px;
	font-family:Arial, verdana, tahoma;
	font-size:13px;
	font-weight:bold;
	color:white;
	text-align:center;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
	background:#ff3019;
	background:-webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
	background:-moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background:-ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background:-o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background:linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
	width:20px;
	height:20px;
	line-height:20px;
	border:3px solid white;
	border-radius:50%;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
filter:progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000);
	box-shadow:0 2px 5px rgba(0, 0, 0, 0.4)
}
.introjs-arrow {
	border:5px solid white;
	content:'';
	position:absolute
}
.introjs-arrow.top {
	top:-10px;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:white;
	border-left-color:transparent
}
.introjs-arrow.right {
	right:-10px;
	top:10px;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:white
}
.introjs-arrow.bottom {
	bottom:-10px;
	border-top-color:white;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent
}
.introjs-arrow.left {
	left:-10px;
	top:10px;
	border-top-color:transparent;
	border-right-color:white;
	border-bottom-color:transparent;
	border-left-color:transparent
}
.introjs-tooltip {
	position:absolute;
	min-width:190px;
	min-height:120px;
	max-width:300px;
	border-radius:3px;
	-moz-box-shadow:0 0 30px #EAF314;
	-webkit-transition:opacity 0.1s ease-out;
	-moz-transition:opacity 0.1s ease-out;
	-ms-transition:opacity 0.1s ease-out;
	-o-transition:opacity 0.1s ease-out;
	transition:opacity 0.1s ease-out
}
.introjs-tooltipbuttons {
	text-align:right
}
.date{ width:14%  !important}
.month{ width:24%  !important;}
.year{ width:20%  !important;}


#sidebar .date{ width:24%  !important}
#sidebar .month{ width:35%  !important;}
#sidebar .year{ width:35%  !important;}


@media only screen and (max-width:1280px) {
.col_1280{ width:98%;}
.nav{ width:55%;}

}


@media only screen and (max-width:1024px){
#logo{ width:30%;}
.nav{ width:62%;}

.ban-img img{ width:145px; height:145px;}
.work-outer{ border-radius:0px; }
.work-circle{ width:10%; height:auto; border-radius:0px; padding:0 0 15px; min-height:80px;}
.post-img img{ width:60%;}
}

