body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section {margin:0;padding:0;border:0;}
body, h1, h2, h3, h4, h4, h5, h6, p,li, label { font-style: normal; margin: 0; padding: 0;} 
h1, h2, h3 {color:#333;}
h1{font-size:20px;}
h2 {font-size:18px; }
h3 {font-size: 15px; }
p{color:#333;}
html {height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body {min-height:100%;font-size:100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video {display:block;}
strong {display: block; font-size: 15px;}
input, textarea, button, select {margin:0; font-size:100%;line-height:normal;vertical-align:baseline; font-size:12px;}

input[type="checkbox"]{margin-right:3px;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer;-webkit-appearance:button;}
input[type="radio"] {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
textarea {overflow:auto; resize:vertical;}
table {border-collapse:collapse;border-spacing:0;}
a img, img {-ms-interpolation-mode:bicubic; max-width:100%;border:0;}

u, li, a {list-style:none; text-decoration:none;}
a{color: #598b8a;}
.msg-div a{color:#fff;}
.left{float:left !important;}
.right{float:right !important;}
.t-right{text-align:right !important;} 
/*global margins*/
.omega5{ margin:0 0 10px;}
.omega10{ margin:10px 0 0;}
.omega15{ margin:12px 0 0;}
.omega20{ margin:20px 0 0;}
.omega30{ margin:30px 0 0;}
.omega40{ margin:40px 0 0;}
.omega60{ margin:20px 0 0;}
.omega-ver10{ margin:10px 0;}
.omega-ver20{ margin:20px 0;}
.omega-hor-10{ margin:0 10px;}
/*global paddings*/
.alpha10{ padding:10px 0 0;}
.alpha20{ padding:20px 0 0;}
.alpha30{ padding:30px 0 0;}
.alpha40{ padding:40px 0 0;}
.alpha-ver15{ padding:20px 0;}
.alpha-all10{ padding:20px;}
.alpha-all5{ padding:10px;}
.col_1280{ width:1200px; margin:0 auto;}

.col_12{ width:12%;}
.col_17{ width:17%;}
.col_86{ width:86%;}
.col_40{ width:40% !important;}
.col_58{ width:58%;}
.col_62{ width:62%;}
.col_78{ width:78%;}
.col_30{ width:30%;}
.col_49{ width:49%;}
.col_48{ width:49%;}
.col_20{ width:20%;}
.col_16{ width:18%;}
.col_24{ width:24%;}
.col_74{ width:74%;}
.col_25{ width:25%;}
.col_70{ width:70%;}
.col_80{ width:80% !important;}

/*Header Start*/
header {display: block; position: relative; z-index: 999;width:100%; }



/*Header end*/

.header{background:url(../images/header.jpg) no-repeat center; width:100%; height:206px;}
.header img{width:100%;}
.footer{background:url(../images/footer.jpg) no-repeat center; width:100%; height:317px;}
.footer img{width:100%;}



/*content start*/


html {/*background:url(../images/bg_tile2.gif) repeat fixed 0 0 #fff*/}
body {
	/*background:url("../images/bg_drop-shadow2.png") repeat-y scroll center transparent;*/
	font:13px/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:13px;
	margin:0;
	padding:0;
	background:#fff;
	
}

#content{width:780px; margin:0px auto;}
.con-wedd-speech{width:760px; margin:0px auto;}
.wedd-speech-head{padding:40px 0px; width:100%; display:block; position:relative;}
.head-font{font:19px Arial; color:#333; width:auto; float:left;}
.head-link{font:19px Arial; color:#000; width:auto; float:right;}
.mar-r{margin-right:3px; margin-left:0px;}
.head-link ul{width:auto; float:left;}
.head-link ul li{font:12px Arial; color:#fff; width:auto; background:#EE8484; text-align:center; padding:3px 7px; margin-left:3px; float:right;}
.head-link ul li a{color:#fff;}

.head-txt-uper{text-transform:uppercase; color:#73a4a4;}
.wedd-speech-coll{width:678px; padding:10px 41px; display:inline-block;}
.wedd-speech-coll-1{width:209px; margin-right:25px;background:url(../images/fathe-bride.jpg) no-repeat top #d9ecec; height:285px; font:bold 14px Arial; color:#333; text-align:center;  float:left;}
.wedd-speech-coll-2{width:209px; margin-right:25px;background:url(../images/groom.jpg) no-repeat top #d9ecec; height:285px; font:bold 14px Arial; color:#333; text-align:center;  float:left;}
.wedd-speech-coll-3{width:209px; background:url(../images/best-man.jpg) no-repeat top #d9ecec; height:285px; font:bold 14px Arial; color:#333; text-align:center; float:left;}
.wedd-speech-coll-1 a,.wedd-speech-coll-2 a,.wedd-speech-coll-3 a{color:#333; padding-top:240px; float:left; text-align:center; width:100%;}

.wedd-speech-testi{padding:20px 0px; width:100%; display:inline-block;}
.wedd-speech-left{width:420px; padding-right:40px; float:left;}
.wedd-speech-left-head{font:bold 14px Arial; padding-bottom:5px;}
.wedd-speech-left p{font:13px Arial; padding-bottom:15px;}
.wedd-speech-left p a{color:#71a2a2;}
.btn-refer-friend{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:5px;background:url(../images/ico-r-friend.png) 5px 5px no-repeat #EE8484; padding:5px 10px 5px 25px; width:130px; color:#fff; font:bold 13px Arial;}
.btn-Wedd-party{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:5px;background:url(../images/ico-wedd-party.png) 5px 5px no-repeat #EE8484; padding:5px 10px 5px 25px; width:170px; color:#fff; font:bold 13px Arial; margin-right:20px; float:left;}
.btn-refer-friend a,.btn-Wedd-party a,.goback a{color:#fff; cursor:pointer;}


.goback{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:5px; width:72px; color:#fff; background:#EE8484; font:bold 13px Arial; position:absolute; padding:5px 10px 5px 0px; right:0; top:10px;}
.goback a{background:url(../images/back.png) 5px 0px no-repeat; padding-left:30px; color:#fff; cursor:pointer;}

.wedd-speech-right{width:300px; float:right;  position:relative;}
.testi-content{position:relative; height:90px; margin-top:20px;}
.testi-man-img{ position:absolute; top:15px;right:0px;}
.testi-img-left{position:absolute; top:0;}
.testi-img-right{position:absolute; bottom:0; right:0; }
.testi-txt{padding:0 30px; font:13px Arial;}
.testi-txt a{color:#71a2a2;}

.con-wedd-speech-mid{width:760px; padding:10px; background:#dceeee; display:inline-block;}
.speech-mid-left{width:73%; float:left;}
.speech-mid-head{font:22px Arial;}
.btn-register{-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-radius:3px;
	background:#EE8484; padding:10px 15px; color:#fff; float:right; font:bold 16px Arial; margin-top:10px;}
.btn-register a{ color:#fff;}
.head-main{font:22px Arial;}

.month-quiz-div{width:750px; padding:0px 10px; position:relative; padding-top:20px; display:inline-block;}
.line-month{width:420px; padding-right:40px; float:left;}
.line-month-head{font:bold 14px Arial; padding-bottom:5px;}
.line-month p{font:13px Arial; padding-bottom:15px;}
.take-quiz{width:250px; float:right;  position:relative;}
.take-quiz ul{width:100%; float:left; padding-top:10px;}
.take-quiz ul li{width:100%; float:left; background:url(../images/arrow-li.jpg) no-repeat left; padding-left:15px; color:#71a2a2;}

.how-work{width:100%;background:#dceeee; display:inline-block; margin:20px 0px;}
.how-work-head{ width:85px; height:65px; float:left; background:url(../images/how-work.jpg) no-repeat left; font:18px/23px Arial; text-align:center; padding-top:17px;}
.how-work p{padding:5px 5px 0px !important; line-height:15px;}

.alignleft,.cont-left{ float:left;}
.alignleftimg{ float:left; margin:0 10px 0 0;}
.alignright,.cont-right{ float:right;}
.aligncenter{ text-align:center; margin:auto;}
.step-outer{ border:#eee 1px solid; float:left; width:768px; margin:20px 5px; padding-bottom:20px; }
.omega20{ margin:20px 0 0;}
.omega-ver20{ margin:20px 0;}
.omega30{ margin:30px 0 0;}
.step1bg{ background:#dceeee; min-height:57px; position:relative; padding:10px 0 0;}
.step1bg p,.step2bg p{ font:16px Arial;}
.step-outer .numberic{ width:20px; height:20px; float:left; position:static; border-radius:360px; border:#333333 2px solid; background:none;}
.stepaligncenter{ display:table; margin:auto; text-align:center; width:114px;}
.stepaligncenter p{ font:15px Arial;}
.text-list2{ width:70%;}
.step2bg-default{ background:#f6f4f4;  min-height:57px; position:relative; padding:10px 0 0;}
.step2bg-default span{background:#f6f4f4 url(../images/step1.png) right top; width:43px; height:67px; position:absolute; left:0; top:0;}
.step2bg-default p{ opacity:.4;font-family: Arial; padding:0 5px;}
.active{ background:#EE8484; min-height:57px; position:relative; padding:10px 0 0;}
.active span{ background:#EE8484 url(../images/step1.png) right top; width:43px; height:67px; position:absolute; left:0; top:0;}
.active p{ opacity:1;}
.step3bg-default{ background:#f9f9f9;  min-height:57px; position:relative; padding:10px 0 0;}
.step3bg-default span{ background:#f9f9f9 url(../images/setp2-default.png) right top; width:43px; height:67px; position:absolute; left:0; top:0;}
.step3bg-default img{ opacity:.4}

.active2{ background:#dceeee; min-height:57px; position:relative; padding:10px 0 0;}
.active2 span{ background:#dceeee url(../images/setp2.png) right top; width:43px; height:67px; position:absolute; left:0; top:0;}
.active2 img{ opacity:1}

.step1,.step2{ width:33%; text-align:center;}
.step1 ul,.step2 ul{ padding:30px 0 0; border-right:#eee 1px solid; list-style:none;}
.step1 li ,.step2 li { padding:0 20px;}
.step1 li a,.step2 li a{ border-bottom:#ddd 1px dashed; text-align:center; display:block; padding:5px 0; color:#333;}
.step2 li.active{ background:#EE8484; min-height:inherit !important; *min-height:30px;}
.step1 li.active{ background:#dceeee; min-height:inherit!important;*min-height:30px;}
.step3{ width:34%; text-align:center}
.step-para{ padding:0 40px; position:relative;}
.test-ico-left{ padding:5px; position:absolute; left:0; top:0}
.test-ico-right{padding:5px; position:absolute; right: 10px;
bottom: 0px;}
.big-btn{ background:#EE8484; padding:20px 25px; display:inline-block; font-size:20px;  border-radius:4px; color:#fff; text-transform:uppercase;}
.medium-btn{ background:#EE8484; padding:15px; font-size:20px; display:inline-block;  border-radius:4px; color:#fff;}

.small-btn{background:#EE8484; padding:10px; font-size:14px; display:inline-block; border-radius:4px; color:#fff;}
.yellow-btn{ background:#EE8484; border-radius:4px; padding:5px 10px; color:#FFF;}
.add-speech-div{display:-block; width:760px; padding:10px; }
.sprite-img{ text-align:right; padding:0 0 0 10px; float:right; *width:26px; *float:none;}


.check-list-outer{margin-top:20px;}
.check-list-outer li{float:left;}
.check-list-outer ul{display:table; width:100%; padding:10px 0 5px; border-bottom:#ddd 1px dashed;}
.check-list-outer li.text-list{ width:58%;}
.check-list-outer li.radio-list{ width:15%; text-align:center; font-size:12px; font-weight:bold;}
ul.bullet-link-list { padding:5px 0 25px;}
.bullet-link-list li{ padding:5px 0 0 25px; background:url(../images/bullet-link-ico.png) no-repeat left 7px;}
.blue-bg{ background:#D4E9EA; padding:20px 0 !important;}

h3 {
    font-family: Arial;
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
}
.register-bg{ background:#f1f1f1; padding:15px; border-bottom:#ddd 1px solid;}
.register-outer{ width:750px;}
.register-form{ border-left:#ddd 1px solid;}
.register-form .omega10{ width:98%;}
.omega5 label{ width:35%; text-align:right; padding:0 4% 0 0; float:left;}
.omega5 input[type="text"],.omega5 input[type="password"]{ width:58%;
border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    padding: 2px;}
	.omega5 textarea{ width:58%;
border: 1px solid #ccc;
    border-radius: 5px;
    height: 80px;
    padding: 2px;}
	.omega5 select{width:60%; border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    padding: 2px;}
.omega5 select.date,.omega5 select.month,.omega5 select.year{ border:1px solid #ccc;border-radius: 5px; height: 25px;padding: 2px; float:left; margin-right:2%; margin-bottom:10px;}
.omega5 select.date{ width:14%;}
.omega5 select.month{width:25%;}	
.omega5 select.year{width:18%; margin-right:0px; float:right;}	
.width-20{ width:20% !important; padding:0!important; text-align:left !important;}
.width-77{ width:77% !important;}
.contact-call-box{ background:#f9f9f9; border:#eee 1px solid; padding:10px;}
.contact-form fieldset{ border:#ddd 1px solid; padding:20px; background:#f8f8f8;}
.contact-form legend{ margin:0 0 0 20px; font-size:16px; color:#00a4b9; font-weight:bold;}
.contact-form label{ width:16%; text-align:right; float:left; min-height:30px;}
.contact-form .contact-input,.contact-form .contact-textarea,.contact-form .contact-select,.contact-submit{width:80%; float:right}
.contact-form .small-select{ width:30%;}

.contact-input input{width:99%; float:left;}
.contact-input select{width:100%; float:left; border: 1px solid #ccc; border-radius: 5px; height: 25px; padding: 2px;}
.contact-input select.date,.contact-input select.month,.contact-input select.year{ border:1px solid #ccc;border-radius: 5px; height: 25px;padding: 2px; float:left; margin-right:2%; margin-bottom:10px;}
.contact-input  select.date{ width:14%;}
.contact-input  select.month{width:25%;}	
.contact-input  select.year{width:18%;}	
.contact-textarea textarea{ width:99%;}
.thanks-outer-row{ border:#eee 1px solid; border-bottom:none; border-right:none; display:table; width:100%; margin:30px 0;}
.thanks-outer-row ul{ width:33.3%; float:left; display:table;}
.thanks-outer-row li{border-right:#eee 1px solid;  border-bottom:#eee 1px solid; min-height:70px; padding:10px;}
.thanks-outer-row li.thank-color-col{ background:#f9f9f9; min-height:inherit; font-weight:bold; line-height:25px;}
.col_400{ width:400px; margin:auto;}
.pop-link{ padding:10px; padding: 20px;
text-align: center;
float: left;
width: 90px;
}
.pop-link span{ display:block;}
#inline{ width:400px; height:100px;}
.pop-link a{ display:block; font-size:12px;}




input[type="submit"] {
    background: none repeat scroll 0 0 #EE8484;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px; border:0px;
}
.btn-box{border-bottom:2px solid #eee; display:-block; width:100%; padding-bottom:20px; }
.co-green{color:#71a2a2;}
.clear{ clear:both;}
.dashed-border { border-top: 1px dashed #ddd;margin: 10px 0 0; padding: 10px 0 0;}
.textalignright{ text-align:right;}
.ZipCodeStyle{ display:none !important;}
.red{color:#cc0000;}

.lightbox {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(238, 238, 238, .7);
 z-index: 999;
}
.lightbox_table {
 width: 100%;
 height: 100%;
}
.lightbox_table_cell {
 vertical-align: middle;
}
.lightbox_content {
 display: table;
 position: relative;
}
.lightbox_content p a {
 float: left;
 display: block;
 width: 90px;
 padding: 20px
}
.lightbox_content p span {
 display: block;
 font-size: 12px;
}
.close-icon {
 position: absolute;
 right: -16px;
 top: -16px;
 cursor: pointer;
}

.nav{ float:right; position:relative;}
.nav li{ float:left; position:relative;  /*text-transform:uppercase;*/ font:12px Arial; background:#ee8484; color:#fff;}
.nav li a{ padding:3px 10px;/* border-radius:6px 6px 0 0;*/ display:block; *padding:0px 10px; *height:30px; *line-height:30px; color:#fff;}
.nav li span.menu-ico{ background:url(../images/li-menu-ico.png) no-repeat right top; display:inline-block; width:11px; height:7px; padding:1px 2px; background-position:5px 1px;}
.nav li.speech a:hover,.nav li.speech:hover > a{border:#FDBABA 1px solid; border-bottom:none; position:relative; z-index:9999; padding:2px 9px 3px;*padding:0px 9px; *line-height:29px;}
.nav li.seprator{ padding:5px 0px;}
.nav li a:hover,.nav li:hover > a{/*background:#DCEEEE;*/ border:none;}

.nav li ul{ position:absolute; display:none; left:0; top:20px; width:150px; border:#FDBABA 1px solid;}
.nav li:hover ul{ display:block; background:#DCEEEE; padding:0;  border-radius:0px 0px 6px 6px; overflow:hidden;}
.sub-menu li{ float:none; text-transform:none; border-bottom:#FDBABA 1px solid; }
.sub-menu li a{color:#fff; padding:0 !important; *line-height:normal!important; *height:auto!important; padding:5px 10px; border-radius:0; line-height:25px;}
.sub-menu li a:hover{ background:#FDBABA; border:none !important; padding:0; *line-height:normal!important; *height:auto!important; color:#333;}
.sub-menu li a.active-nav{ background:#FDBABA; border:none !important; padding:0; *line-height:normal!important; *height:auto!important; color:#333;}
.msg-div {
    background: none repeat scroll 0 0 #fdbaba;
    border: 1px solid #fb7070;
    padding: 10px;
}




.delete_speech {
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:5px;background:#EE8484; padding:5px 10px;  color:#fff; font:bold 13px Arial; margin:20px 20px 0 0; display:inline-block;  }
.caption-blue{ background:#dceeee; border:#99CCCD 1px solid; border-bottom:none;  text-align:center; margin-top:10px;}
.caption-blue li{border-bottom:#99CCCD 1px solid; display:table; width:100%; cursor:move;}
.speech-left-col{ float:left; width:80%; text-align:left; padding:20px;}
.speech-right-col{ float:right;}

.register-outer-568{ width:568px;}
.validateclass { border:#F00 1px solid; }
.thamks-bg{padding:100px 0px;}
.thamks-bg h3{font:18px Arial;}
.order-inner{ padding:0 20px 20px; background:#f9f9f9; border:#eee 1px solid;}
.order-outer ul{ display:table; width:100%; padding:10px 0 0}
.order-outer li.order-left{ float:left;}
.order-outer li.order-right{ float:right;}
#banner{ background:#f9f9f9; border-top:#d5f8fc 4px solid;}
.banner-widget-outer{ text-align:center; float:left; margin:0 0 0 3%;}
.banner-widget{ background:#fdbaba;  border-radius:360px 360px 0 0; padding:0 0 10px; font-weight:bold;}
.banner-widget:hover{ background:#fb7070; cursor:pointer; color:#fff;}

.banner-widget p{line-height: 17px;
padding: 7px 0;}
.banner-widget-outer span{ top:-10px; position:relative;font-weight:bold;}
.sprite-img{ text-align:right; padding:0 0 0 10px; float:right; *width:26px; *float:none;}
.banner-widget img{border-radius:360px; width:100%;}
.ban-img{ border-radius:360px; background:#fff; padding:2%; text-align:center; margin:auto;}
.ban-bg{ background:#fb7070; padding:5px; border-radius:360px; *width:190px;}
.ban-img img{ width:190px; height:190px; border-radius:360px;}
.ban-ico{ width:42px; height:42px; background:#fff; border-radius:360px; overflow:hidden; text-align:center; margin:-20px auto 0; position:relative;}
.ban-ico img{ margin:10px 0 0;}
.blue-btn{ background:#d7f7ff; border:#9ceafe 1px solid; border-radius:4px;  color:#00a4b9; display:inline-block; padding:8px 15px;}


.font-16{ font-size:16px;}
.popupwindow{width:600px;}
.popupwindow .img-align{ margin-top:15px; border:#ddd 1px solid;}
.proceed-btn{ background:url(../images/proceed-ico.png) no-repeat 5px center #00a4b9; padding:10px 10px 10px 35px; font-size:14px; display:inline-block; border-radius:4px; color:#fff;}
.subcribe-msg{ font-size:16px; font-weight:bold;}

@media only screen and (max-width:1024px){

}
<!-- back to top css -->





@media only screen and (max-width:1200px){
}
@media only screen and (max-width:1024px){
}
@media only screen and (max-width: 999px) {
}
@media only screen and (max-width: 800px){
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 750px) {


}

@media only screen and (max-width: 640px) {

}
@media only screen and (max-width: 480px){
}
@media only screen and (max-width: 240px){

}


