<table width="578" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
<tr>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td valign="top"><div id="title">
            <div style="font-family:Arial, Helvetica, sans-serif"><img src="cyg_logo.jpg" width="364" height="44" alt="Benham & Reeves Logo" /></div>
               <p style="font-size:11px; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;  font-size:11px;">Powered by ChargeyourGlasses.com</p>
          </div></td>
        <td valign="bottom"></td>
      </tr>
    </table></td>
</tr>
<tr>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td><p><font color="#000000" face="verdana" size="2">Thank you for your enquiry<br />
            <br />
            Your request is being dealt with and one of our lettings staff will contact you soon. <br />
            <br />
            The following enquiry was submitted by you to the website:</font></p></td>
      </tr>
    </table></td>
</tr>
<tr>
  <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td>
          <table width="100%" border="0" align="center" cellpadding="8" cellspacing="0" bgcolor="#FAFAFA" style="border: 1px solid #C1C1C1; border-top: none; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
          <tr><td bgcolor="#d5f8fc" style="color:#333;"><strong>Enquiry Details</strong></td></tr>
            <tr>
              <td valign="top">
              <table cellpadding="0" cellspacing="10"  width="100%" border="0" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">
              <tr>
                <td width="130" valign="top">User :</td>
                <td>Nikhil agrwal</td></tr>
                 <tr>
                 <td width="130" valign="top">Email: </td>
                <td>nikhil@isglobalweb.com</td>
                </tr>
                <tr>
                 <td width="130" valign="top">Contact number: </td>
                <td>6446446465456</td>
                </tr>
                <tr>
                 <td width="130" valign="top">Pincode: </td>
                <td>201301</td>
                </tr>
                </table></td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><font color="#000000" face="verdana" style="font-size: 11px;">The above was submitted on the [%DATE%]</font></td>
            </tr>
            <tr>
              <td><div align="left" style="padding-top:10px;">
                  <p style="padding-right:15px;"><font color="#000000" face="verdana" size="2">Kind regards,</font></p>
                    <p style="padding-right:25px;"><font color="#000000" face="verdana" size="2">Groom List. Speech Builder</font> </p>
                  <p style="padding-right:25px;"><font color="#000000" face="verdana" size="1">*Please do not reply to this e-mail. </font></p>
                </div></td>
            </tr>
            <tr>
              <td bgcolor="#fbdf65" height="2"></td>
            </tr>
          </table></td>
      </tr>
    </table>
</td></tr></table>