<table width="578" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td valign="top"><div id="title">
              <div style="font-family:Arial, Helvetica, sans-serif"><img src="[%SITE_LOGO%]" width="176" height="73" alt="Confetti.co.uk Logo" /></div>
            </div></td>
          <td valign="bottom"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td><p><font color="#000000" face="verdana" size="2">Your Password has been reset successfully.<br />
              <br />
              You can login to our site -  [%LINK_LOGIN%] </font></p></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td><table width="100%" border="0" align="center" cellpadding="8" cellspacing="0" bgcolor="#FAFAFA" style="border: 1px solid #C1C1C1; border-top: none; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
              <tr>
                <td bgcolor="#D3E9E9" style="color:#333;"><strong>Your login details</strong></td>
              </tr>
              <tr>
                <td valign="top"><table cellpadding="0" cellspacing="10"  width="100%" border="0" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">
                    <tr>
                      <td width="130" valign="top">Email: </td>
                      <td>[%EMAIL%]</td>
                    </tr>
                    <tr>
                      <td width="130" valign="top">Password: </td>
                      <td>[%PASSWORD%]</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><font color="#000000" face="verdana" style="font-size: 13px;">The above was submitted on the [%DATE%]</font></td>
              </tr>
              <tr>
                <td><div align="left" style="padding-top:10px;">
                    <p style="padding-right:15px;"><font color="#000000" face="verdana" size="2">Kind regards,</font></p>
                    <p style="padding-right:25px;"> <a href="http://www.confetti.co.uk/" style="color:#FF6666;" target="_blank">www.confetti.co.uk/</a> <br />
                    </p>
                    <p style="padding-right:25px;"><font color="#000000" face="verdana" size="1">*Please do not reply to this e-mail. </font></p>
                  </div></td>
              </tr>
              <tr>
                <td bgcolor="#D3E9E9" height="2"></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
