<table width="578" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td valign="top"><div id="title">
              <div style="font-family:Arial, Helvetica, sans-serif"><img src="[%SITE_LOGO%]" width="176" height="73" alt="Confetti.co.uk Logo" /></div>
            </div></td>
          <td valign="bottom"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td><p><font color="#000000" face="verdana" size="2">Dear [%NAME%]<br />
              <br />
              The Speech builder link has been shared  to your friend:<br />
              </font></p></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><font color="#000000" face="verdana" style="font-size: 13px;">The above was submitted on the [%DATE%]</font></td>
              </tr>
              <tr>
                <td><div align="left" style="padding-top:10px;">
                    <p style="padding-right:15px;"><font color="#000000" face="verdana" size="2">Kind regards,</font></p>
                    <p style="padding-right:25px;"> <a href="http://www.confetti.co.uk/" style="color:#FF6666;" target="_blank">www.confetti.co.uk/</a> <br />
                    </p>
                    <p style="padding-right:25px;"><font color="#000000" face="verdana" size="1">*Please do not reply to this e-mail. </font></p>
                  </div></td>
              </tr>
              <tr>
                <td bgcolor="#D3E9E9" height="2"></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
