
/* CSS Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1.5;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
a img {
	border:none;
}
/* Base */
html {
	font-size:100.01%;
}


@font-face {
    font-family: 'ralewaybold'; 
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.eot');
    src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium.woff') format('woff'),
         url('../fonts/raleway-medium.ttf') format('truetype'),
         url('../fonts/raleway-medium.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	font-size:75%;
	color:#1a1a1a;
	background:#ffffff;
	     font-family: 'ralewaymedium';
}

.clear {
  clear: both;
  height: 1px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	color:#666;
}
h1 {
	font-size:24px;
	font-weight:bold;
	line-height:1;
	color:#333
}
h2 {
	color:#454545;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
h3 {
	color:#666666;
	font-size:14px;
	font-weight:bold;
	margin-bottom:15px;
}
h4 {
	font-size:13px;
	font-weight:bold;
	margin-bottom:15px;
}
h5 {
	font-size:12px;
	margin-bottom:15px;
}
h6 {
	font-size:11px;
	margin-bottom:15px;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin:0;
}
p {
	margin:0 0 1.5em;
	clear:both;
	line-height:1.6;
}
a:focus, a:hover {
	color:#000;
}
a {
	color:#009;
	text-decoration:underline;
}
blockquote {
	margin:1.5em;
	color:#666;
	font-style:italic;
}
strong {
	font-weight:bold;
}
em, dfn {
	font-style:italic;
}
dfn {
	font-weight:bold;
}
sup, sub {
	line-height:0;
}
abbr, acronym {
	border-bottom:1px dotted #666;
}
address {
	margin:0 0 1.5em;
	font-style:italic;
}
/* misc */
.cl {
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
	line-height:0;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.fn {
	float:none!important;
}
.tl {
	text-align:left;
}
.tr {
	text-align:right;
}
.tc {
	text-align:center;
}
.hd {
	display: none;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w50 {
  width: 50px;
}



.strong {
	font-weight:bold!important;
}
/* Main Elements */
#logo {
	padding:0px 0 0 0;
}
#header {
	color:#fff;
}
#header a {
	color:#444;
	text-decoration:underline;
}
#header a:hover {
	color:#444;
	text-decoration:none;
}
.header-top {
	background:#000000; color:#ffffff;
	padding:6px 25px 2px;
}
.header-middle {
	background:#fff;

/*	border-bottom:1px solid #050505;*/
	padding:0 25px;
	/*height:62px;*/
	overflow: hidden;
}
.header-bottom {
	background:#313131 url('../img/header-bottom.gif') repeat-x bottom;
	border-top:1px solid #545454;
	border-bottom:1px solid #545454;
	padding:7px 25px;
}
#header p {
	margin:0 0 5px 0;
}
#header span {
	color:#6e7d87;
}
.footer {
	background:#f8f8f8;
	border-top:1px solid #ddd;

	padding:10px 25px;
	color:#444;
}
.footer a {
	color:#fff;
	text-decoration:underline;
}
.footer a:hover {
	color:#fff;
	text-decoration:none;
}
#page-wrapper {
/*	border-top:1px solid #060606;*/
background:#ffffff;
}
.page {
	background: url('../img/sidebar-bg.png') repeat-y left;
}
#page-content {
	/*margin-left:250px;*/
	margin-left:220px;
	padding:25px 15px 25px 25px;
	color:#333;
}
#page-header {
	border-bottom:1px solid #d5d5d5;
	padding-bottom: 10px;
	margin-bottom:25px;
	margin-left:1%;
	margin-right:1%;
}

/* Navigation */
#nav {
	font-size:16px;
	font-weight:bold;
	list-style-type:none;
	margin:0;
	padding:0;
/*	width:78%; */
/*	height:62px; */
}
#nav li {
	display:block;
	float:right;
	padding:19px 5px 17px;
	text-align: left;
	position:relative;
	/*height:24px;*/
	font-size:16px;
}
#nav li:hover {

}
#nav li a {
	color:#444;
	padding:22px 10px 22px 40px;

	font-size:16px;
	text-decoration:none;
}
#nav li a:hover {
	text-decoration:none;
}
#nav li a.help {
	background: url('../img/icons/nav/help.png') no-repeat 0 -38px;
}
#nav li a.settings {
	background:url(../images/user-settings.png) no-repeat left;
}
#nav li a.users {
	background: url('../img/icons/nav/users.png') no-repeat 0 -38px;
}
#nav li a.content {
	background: url('../img/icons/nav/content.png') no-repeat 0 -38px;
}
#nav li a.dashboard {
	background:url(../images/dashboard.png) no-repeat left;
}

#nav li a.logout {
	background:url(../images/logout.png) no-repeat left;
}

#nav li:hover > a {

}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
}
#nav ul a:hover {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
/* dropdown */
#nav li:hover > ul {
	display: block;
}
/* drop down widths */
#nav li.dashboard ul {
	width: 172px;
}
#nav li.dashboard ul li ul {
	left:172px;
}
#nav li.content ul {
	width: 151px;
}
#nav li.content ul li ul {
	left: 151px;
}
#nav li.users ul {
	width: 134px;
}
#nav li.users ul li ul {
	left:134px;
}
#nav li.settings ul {
	width: 153px;
}
#nav li.settings ul li ul {
	left: 153px;
}
#nav li.help ul {
	width: 124px;
}
#nav li.help ul li ul {
	left: 124px;
}
/* level 2 list */
#nav ul {
	display: none;
	margin: 0;
	padding: 0;
	/*	width: 174px; */
	position: absolute;
	top: 62px;
	left: -1px;
	background: #2d2d2d;
	border:1px solid #606060;
	z-index:10;
	border-top:none;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding-bottom:5px;
}
#nav ul li {
	float: none;
	padding: 6px 0 1px;
	margin: 0;
}
#nav ul li:hover {
	padding: 6px 0 1px;
}
#nav ul li:hover {
	background:#478db4;
	border:0;
}
#nav ul a {
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0 15px;
	text-shadow:none;
	padding-left:15px;
	vertical-align:top;
}
#nav ul li:hover > a {
	text-shadow:none;
	vertical-align:top;
}
/* level 3+ list */
#nav ul ul {
	/*	left: 174px; */
	top: 0;
	-moz-border-radius:0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-top:1px solid #606060;
}
/* rounded corners of first and last link */

#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}


/* breadcrumbs */
#breadcrumbs {
	list-style:none;
	padding:0;
	margin:0;
}
#breadcrumbs li {
	display:inline;
	font-size:12px;
	line-height: normal;
	float: none;
	font-size:14px;
}
#breadcrumbs li a {
	float: none;
	display: inline;
	font-weight: bold;
	padding: 0;
	text-decoration:none;
	font-size:12px;
}
#breadcrumbs li.bold a {
	font-weight:bold;
}
#breadcrumbs li:HOVER {
	background: none;
	padding: 0;
}
#breadcrumbs li:HOVER A {
	text-decoration:underline;
	padding: 0;
}
.breadcrumbs li a:HOVER {
	text-decoration:underline;
	background: none;
	padding: 0;
}
/* sidebar */
#sidebar {
  clear:both;
	float:left;
	width:185px;
	color:#444; background:#ffb72d;
	padding:25px 25px;	
}
#sidebar a {
	color:#f;
}
#sidebar ul {
	list-style-type:none;
	padding:0;
	margin:0 0 20px;
}
#sidebar ul li {
	border-top:1px solid #f6f6f6;
	border-bottom:1px solid #e0e0e0;
	padding:6px;
	width:175px;
}
#sidebar ul li a {
	padding:8px 5px 6px 5px;
	text-decoration:none;
}
#sidebar ul li a:hover {
	color:#333333;
	font-weight:bold;
}
.ul-header {
	border-bottom:1px dashed #666;
	font-weight:bold;
	font-size:14px;
	display:block;
	width:175px;
	padding:6px;
	color:#444444;
	margin-top:10px;
}
.ul-header a {
	font-weight:bold;
	font-size:14px;
	color:#444444;
	text-decoration:none;
}
/** sidebar icons **/
#sidebar ul li a.icn_manage_image {
	background: url('../img/icons/small/image_manage.png') no-repeat left;
}
#sidebar ul li a.icn_add_image {
	background: url('../img/icons/small/image_add.png') no-repeat left;
}
#sidebar ul li a.icn_edit_image {
	background: url('../img/icons/small/image_edit.png') no-repeat left;
}
#sidebar ul li a.icn_delete_image {
	background: url('../img/icons/small/image_delete.png') no-repeat left;
}
#sidebar ul li a.icn_manage_users {
	background: url('../img/icons/small/user.png') no-repeat left;
}
#sidebar ul li a.icn_add_users {
	background: url('../img/icons/small/user_add.png') no-repeat left;
}
#sidebar ul li a.icn_edit_users {
	background: url('../img/icons/small/user_edit.png') no-repeat left;
}
#sidebar ul li a.icn_delete_users {
	background: url('../img/icons/small/user_delete.png') no-repeat left;
}
#sidebar ul li a.icn_manage_pages {
	background: url('../img/icons/small/page.png') no-repeat left;
}
#sidebar ul li a.icn_add_pages {
	background: url('../img/icons/small/page_add.png') no-repeat left;
}
#sidebar ul li a.icn_edit_pages {
	background: url('../img/icons/small/page_edit.png') no-repeat left;
}
#sidebar ul li a.icn_delete_pages {
	background: url('../img/icons/small/page_delete.png') no-repeat left;
}
#sidebar ul li a.icn_manage_comments {
	background: url('../img/icons/small/comment.png') no-repeat left;
}
#sidebar ul li a.icn_add_comments {
	background: url('../img/icons/small/comment_add.png') no-repeat left;
}
#sidebar ul li a.icn_edit_comments {
	background: url('../img/icons/small/comment_edit.png') no-repeat left;
}
#sidebar ul li a.icn_delete_comments {
	background: url('../img/icons/small/comment_delete.png') no-repeat left;
}
.toggle {
	display:block;
}
.ul-header a.visible {
	background:url('../img/icons/small/toggle_close.png') no-repeat scroll 97% 50%;
}
.ul-header a.hidden {
	background:url('../img/icons/small/toggle_open.png') no-repeat scroll 97% 50%;
}
/* Live Search (Sidebar) */
.searchform {
	display:inline-block;
	margin-bottom:15px;
	padding:0;
	width: 175px;
}
.searchform input {
	font:12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
	-moz-border-radius:5px 0 0 5px;
	-moz-box-shadow:0 1px 2px #c7c6c6 inset;
	-webkit-border-radius:5px 0 0 5px;
	-webkit-box-shadow:0 1px 2px #c7c6c6 inset;
	background:#FFFFFF url(../img/search-bg.gif) no-repeat 10px center;
	border:1px solid #c7c6c6;
	outline:medium none;
	padding:7px 6px 6px 28px;
	width:100px;
	float:left;
	margin:0;
}
.searchform .searchfield:focus, .searchform .searchfield:focus > input.searchbutton {
	-moz-box-shadow:0px 0px 3px #d0e1f7;
	border:1px solid #d0e1f7;
	;
}
.searchform .searchbutton {
	-moz-border-radius:0 5px 5px 0;
	-moz-box-shadow:0 1px 2px #c7c6c6;
	-webkit-border-radius:0 5px 5px 0;
	-webkit-box-shadow:0 1px 2px #c7c6c6;
	background:#d6d6d6 url(../img/go-bg.gif) repeat-x top;
	border:1px solid #a9a8a8;
	color:#888888;
	font-size:12px;
	font-weight:bold;
	height:29px;
	text-shadow:0 1px 1px #f6f6f6;
	width:30px;
	float:left;
	margin:0;
	padding:0;
}
/* Page Blocks */
.box {
	background:#fff;
	border:1px solid #ddd;
	margin-bottom:15px;
	padding:15px;
	border-top:0;
	-moz-border-radius-bottomleft :3px;
	-moz-border-radius-bottomright :3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}
.box a {
	color:#1f92ff;
	text-decoration:none;
}
.box a:hover {
	color:#1f92ff;
	text-decoration:underline;
}
.box.stats {
	padding:30px 15px;
}
.box.table {
	padding:0 0 1px 0;
	
}
.box-header {
	border:1px solid #ddd;
	font-weight:bold;
	font-size:14px;
	background:#ffb72d;
	padding:10px 15px;
	color:#333333;
	-moz-border-radius-topleft :3px;
	-moz-border-radius-topright :3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	
}
.box-header .fr a {
	color:#333333;
	text-decoration:none;
	font-size:12px;
	padding:0 5px;
}
.box-header .fr a:hover {
	color:#1f92ff;
}

.box-header .fr a.active {
	color:#1f92ff;
}

.box-header .fr select {
  padding: 0!important;
}

.box-header td {
  padding: 0px;
  border:none;
  font-weight: inherit!important;
  color:  #333333;
}


.box h2 {
	color:#454545;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
.box h3 {
	color:#666666;
	font-size:14px;
	font-weight:bold;
	margin-bottom:15px;
}
.box h4 {
	color:#666666;
	font-size:13px;
	font-weight:bold;
	margin-bottom:15px;
}
.box ul {
	padding-bottom:15px;
	padding-left:30px;
}

.box ul.loc_features, .box ul.room_features {
  list-style:none;
  
}

.box ul li {
	margin-bottom:5px;
	padding-left:5px;
}

.box ul.loc_features, .box ul.room_features {
 padding-left: 0px;
}

.box ul.loc_features li, .box ul.room_features li {
  float:left;
  width: 32%;
}

.box ul.loc_features li label, .box ul.room_features li label {
  float: none!important;
}

.box ol {
	list-style-position:inside;
	padding-bottom:15px;
	padding-left:15px;
}
.box ol li {
	margin-bottom:5px;
}
/* notifications */
.notification.success {
	background:#effeb9 url(../images/success-ico.png) no-repeat 10px 10px;
	border-color:#98c700;
}
.notification.error {
	background:#fccac3 url(../images/error-ico.png) no-repeat 10px 10px;
	border-color:#ea5338;
}
.notification.warning {
	background:#ffeaa7 url('../img/icons/notifications/warning.png') no-repeat 10px 10px;
	border-color:#f9b418;
}
.notification.info {
	background:#d1e4f3 url('../img/icons/notifications/info.png') no-repeat 10px 10px;
	border-color:#4d8fcc;
}
.notification.tip {
	background:#feeac9 url('../img/icons/notifications/tip.png') no-repeat 10px 10px;
	border-color:#d38e49;
}
.notification.print {
	background: url('../img/icons/notifications/print.png') no-repeat 10px 10px;
}

span.print {
   background: url("../img/icons/notifications/print.png") no-repeat scroll 0 0 transparent;
    display: block;
    padding-bottom: 5px;
    padding-left: 47px;
}

.notification.email {
	background: url('../img/icons/notifications/email.png') no-repeat 10px 10px;
}

.notification.accept {
	background:#effeb9 url('../img/icons/notifications/success.png') no-repeat 10px 10px;
	border-color:#98c700;	
}

.notification.accept a {
  color: #4F8A10;
  cursor: pointer;  
}

.notification.modify {
	background:url('../img/icons/notifications/warning.png') no-repeat 10px 10px;
	border-color:#f9b418;
  	
}

.notification.modify a {
 color: #9F6000;
 cursor: pointer; 
}

.notification.decline {
	background:#fccac3 url('../img/icons/notifications/error.png') no-repeat 10px 10px;
	border-color:#ea5338;		
}

.notification.decline a {
	color: #D8000C;
  cursor: pointer;	
}

.notification.update {
	background:url('../img/icons/notifications/update.png') no-repeat 10px 10px;
}
.notification.pause {
	background: #ffeaa7 url('../img/icons/notifications/pause.png') no-repeat 10px 10px;
	border-color:#f9b418; 	
}

.notification.pause a {
 color: #9F6000;
  cursor: pointer; 
}

.notification.play {
	background:url('../img/icons/notifications/Play.jpg') no-repeat 10px 10px;
}


.notification {
	border-width:1px;
	border-style:solid;
	padding:17px 17px 17px 55px;
	margin-bottom:15px;
	-moz-border-radius:3px;
	-webkit-border:3px;
	border-radius:3px;
  margin-left: 1%;
  margin-right: 1%;	
}
.notification .close {
	background:url("../img/icons/small/close.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
	display:block;
	float:right;
	height:16px;
	margin-top:2px;
	opacity:0.7;
	width:16px;
}
.notification .close:hover {
	opacity:1;
}

.notification a {
  cursor: pointer;
}


/* Forms */
form label {
	/*padding-top:5px;*/
	margin-right: 8px;
	display: block;
	color:#454545;
	font-size:13px;
	font-weight:bold;
/*	float:left; */
}
/*form p {
	margin-bottom:10px;
	padding-bottom:20px;
} */
form div.row {
	clear:both;
	padding:4px 0;
	margin-bottom:15px;
}
form .row label {
	width:150px;
}
form .row .checkbox, form .row .radio {
	width:auto;
}
form input, form textarea, form select {
	background: #FFFFFF url('../img/input-bg.gif') repeat-x top;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #c7c6c6;
	outline:medium none;
	padding:7px 6px 6px 6px;
	margin:0;
}

form input.short {
  width: 40px;
}

form input#product-subtotal, form input#product-deposit {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #616161!important;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: right;
}


form select.select_long {
  width: 70%;
}

form input.textbox_long {
  width: 70%;
} 

form input.error {
	border:1px solid #FCCAC3;
}
form input.error:focus {
	border:1px solid #EA5338;
	-webkit-box-shadow:0 1px 2px #EA5338 inset;
	-moz-box-shadow:0 1px 2px #EA5338 inset;
}
form input[type=checkbox], form input[type=radio] {
	float:left;
	border:none;
	background:none;
	margin:0;
	padding:0;
	margin-top:3px;
	margin-right:5px;	
}
form input[type=checkbox]:focus, form input[type=radio]:focus {
	border:none;
	background:none;
}
form label.checkbox, form label.radio {
	font-weight:normal;
	margin:0;
	padding:0 20px 0 6px;
	vertical-align:bottom;
}
form input:focus, form textarea:focus, form select:focus {
	-moz-box-shadow:0px 0px 3px #d0e1f7;
	border:1px solid #d0e1f7;
	;
}
textarea{ width:70% !important;}
form optgroup {
	background:#f7f7f7;
}
fieldset {
	margin-bottom:15px;
}
/* Buttons */
.button {
	-moz-border-radius:0.5em 0.5em 0.5em 0.5em;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	cursor:pointer;
	display:inline-block;
	font:14px/100% Arial, Helvetica, sans-serif;
	margin:0 2px;
	outline:medium none;
	padding:0.5em 2em 0.55em;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	vertical-align:baseline;
	background:#a247b5;
	color:#fff!important;
  border: 1px solid #C7C6C6;	
  border-radius: 4px 4px 4px 4px;  
}
.button:hover {
	text-decoration:none;
}
.button:active {
	color:#AFAFAF;
	position:relative;
	top:1px;
}

.button2 {
    background-color: #DDDDDD;
    background-image: url("../img/sprites.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    border-color: #BBBBBB #999999 #999999 #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #444444;
    cursor: pointer;
    display: inline;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px 0 0;
    outline: medium none;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #EEEEEE;
}

.button2.download {
    background-color: #DDDDDD;
    background-position: 0 -54px;
    padding-left: 27px;
}


.medium {
	font-size:12px;
	padding:0.4em 1.5em 0.42em;
}
.small {
	font-size:12px;
	padding:10px 15px;
}

.small2 {
    font-size: 14px;
    padding: 0.2em 1em 0.275em;
}
/* Tables */
table {
	border-collapse:separate;
	border-spacing:0px;
}
.tablesRowBG_2 {
  background: #f5f5f5;
}

table.search  {
 
}

.tablebg {
  background: #fff;
}

caption, th, td {
	text-align:left;
	font-weight:normal;
}
table, td, th {
	vertical-align:middle;
}
table {
	width:100%;
}
thead td, thead th {
	background-color:#fff;
}
tr td, thead th {
	color:#000;
	padding:8px;
}
tr td {
	vertical-align:top;
}
thead td, thead th {
	font-weight:bold;
	padding:8px;
}
th, td {
	border-top:1px solid #DEDEDE;
}
tbody th {
	padding:0 8px;
	text-align:left;
}
/* Dialog Box */
.message {
	font-size:12px;
	padding:15px;
	margin-bottom:10px;
	border:1px solid #AAAAAA;
}
.message.new {
	background:#feeac9;
	border:1px solid #d38e49;
}
.message h4 {
	border-bottom:1px solid #AAAAAA;
	padding-bottom:5px;
}
small {
	font-size:10px;
}
/* Login Page */
#login-wrapper {
	margin:0 auto;
	width:400px;
	margin-top:150px;
}
div#login-wrapper div.notification {
	padding:15px 15px 15px 50px;
}
.box-header.login {
	font-size:19px;
	padding:10px 15px;
}
form.login label {
	width:145px;
}
form.login input {
	width:200px;
}

.legend table {
  width: auto!important;
}

.legend table td {
  border:none!important;
  background: none!important;
}

ul#dashboard-buttons {
  list-style: none;
  padding:0!important;  
}

ul#dashboard-buttons li {
  float: left;
  margin: 8px;
}

ul#dashboard-buttons li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F3F3F3;
    border-color: #DCDFE3 #D0D4D8 #D0D4D8 #DCDFE3;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    padding: 80px 5px 0;
    text-align: center;
    width: 100px;    
}

ul#dashboard-buttons li a:hover {
    background-color: #E4E7EA;
    border-color: #C3C9CE;
    color: #333333;
}

ul#dashboard-buttons a.open-enquiries {
  background-image: url("../img/enquiries.png");
}

ul#dashboard-buttons a.open-bookings {
  background-image: url("../img/open-booking.png");
}

ul#dashboard-buttons a.bookings {
  background-image: url("../img/calendar.png");
}

ul#dashboard-buttons a.customers {
  background-image: url("../img/customer.png");
}

ul#dashboard-buttons a.location {
  background-image: url("../img/home.png");
}

ul#dashboard-buttons a.contact {
  background-image: url("../img/contact.png");
}


ul#dashboard-buttons a.phone {
    background-image: url("../img/phone.png");
}

ul#dashboard-buttons a.help {
    background-image: url("../img/help.png");
}
ul#dashboard-buttons a.report {
    background-image: url("../img/report.png");
}

.tip {
	cursor:help;
}

.width100 {
  width: 100px;
}

label.inline {
  display: inline;
}



/*my css here*/

.logo-outer{position:relative; left:0px; padding:10px; background-color:#ffffff; text-align:center;}

.login-div{width:72px; height:72px; margin:auto; background:#a247b5; border-radius:60px; text-align:center; color:#fff;     font-family: 'ralewaymedium'; font-size:16px; line-height:70px; border:#fff 4px solid; position:relative; top:-20px; text-transform:uppercase;}

.login-table td{ padding:1px;}
.center-login{ width:90%; margin:auto;}
.center-login input[type="text"],.center-login input[type="password"]{ padding:10px 1px 10px 30px !important; width:90% !important;}

.pos-ico{ position:relative;}
.pos-ico img{ position:absolute; left:10px; top:10px;}
.button-reset{ background:none; border:none; color:#c00; cursor:pointer; padding:0;}
.dashboard-list ul{ padding:10px 20px 10px 0!important}
.dashboard-list li{  background:#f8f8f8; width:21%; border:#eee 1px solid; min-height:100px; text-align:center; float:left; margin:0 0 20px 20px!important; list-style:none;}
.dashboard-list li a{ display:block;}

.dashboard-list li a img{ width:64px; height:64px; margin:10px 0 0;}
.dashboard-list li a span{ color:#333; display:block; margin:10px 0;}
.dashboard-list li a:hover{ text-decoration:none; color:#a247b5 !important;}

.table-border td{ border-right:#ddd 1px solid;}
.bgcolor td{ background:#f1f1f1;}
.module-d { padding:10px 0 0;} 
.module-d td{ border:none; vertical-align:top;}
.td-middle td{ vertical-align:middle;}

.module-e td{  width:350px; float:left; vertical-align:middle;}

@media only screen and (max-width:1024px) {

form input, form textarea, form select{ padding:2% 0;}

thead td, thead th{ padding:2% 1%;}
#sidebar{ width:170px;}
.ul-header{ width:auto;} 
.ul-header a{ font-size:12px;}
#page-content{ padding:20px 1%;}
form input[type=checkbox], form input[type=radio]{ margin:1px;}
form label{ margin-right:0; font-size:11px;}

}